<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="center" style="padding-top:30px;">
            <h1>Add file and photo</h1>
            </div>
            <mat-dialog-content>
            
                <form ngNoForm action="http://163.50.57.95:5002/uploader" method="post" enctype="multipart/form-data">

                    <div class="mb-3">
            
                        <label for="formGroupExampleInput" class="form-label">Register no.</label>
            
                        <input class="form-control" type="text" name="Register_no" value="{{this.Requestno}}" >
                        <input class="form-control" type="text" name="section" value="{{this.section}}" hidden>
                        <br>
            
                    </div>
            
                    <th>Select file to upload:</th> <br>
            
                    <div class="input-group mb-3">
            
                        <input type="file" class="form-control" name="file" id="fileToUpload">
            
                        <input class="btn btn-dark" type="submit" value="Upload" name="submit">
            
                    </div>
            
                </form>
            
            </mat-dialog-content>  

            <table class="table">
              <thead>
                <tr>
                  <th width="100px" class=" Titlereview">No.</th>
                  <th width="500px">File Name</th>
                  <th width="100px">Delete</th>
                </tr>
              </thead>
              <tbody>
                <div *ngIf="this.Fill_initalchk" >
                <tr *ngFor="let item of Fill_inital let i = index">
                  <th scope="row">{{i+1}}</th>
                  <td *ngIf="item.FILENAME != '';else other_content">
                      <a class="btn btn" [href]="item.LINK">{{ item.FILENAME }}</a>
                  </td>
                  <ng-template #other_content>
  
                      <td> <img [src]="item.LINK" width="300" height="auto"></td>
  
                  </ng-template>
                  <td>
                    <button mat-mini-fab color="primary" (click)="deletefile(item.idupload_list)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
              </tr>
              </div>
              </tbody>
            </table> 
            <br>
            <div class="center">
              <button mat-flat-button class="Buttonaddquetion" (click)="GoAnahome()"> finish </button>
            </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
