<div class="container">  
      
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">  

      <table  formArrayName="quantities">  
        <tr *ngFor="let quantity of quantities().controls; let i=index" [formGroupName]="i"> 
            <td>  
                <div class="form-group input1" style="padding: 0 20px ;">
                    <label for="Lotno"><b>Lot no:</b></label>
                    <input type="text" class="form-control" id="Lotno" formControlName="Lotno" >
                  </div> 
              </td> 
          <td>  
            <div class="form-group input1" style="padding: 0 20px ;">
                <label for="Lotno"><b>Sample name:</b></label>
                <input type="text" class="form-control" id="Lotno" formControlName="Samplename" >
              </div>
             
          </td>  
          <td>  
            <div class="form-group input1" style="padding: 0 20px ;">
                <label for="Samplename"><b>Remarks:</b></label>
                <input type="Samplename" class="form-control" id="Samplename" formControlName="Remarks" >
              </div>         
          </td>  
          <td style="padding-top: 20px">  
              <button (click)="removeQuantity(i)" class="btn btn-danger">Remove</button>  
          </td>
        </tr> 
        <tr>
          
          <td>
            <button mat-flat-button class="Buttonaddsam" (click)="addQuantity()"> + Add Sample </button>
        </td> 
        </tr> 
      </table>      
    </form>  
        
    <br/>  
    <button mat-flat-button class="Buttonaddsam" (click)=" display() "> submit </button>
    {{this.productForm.value | json}}  
  </div>