.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.card1 {
  max-width: 1100px;
  margin: auto;
  background-color:#FFFAF0;
}
table {
  table-layout: fixed;
  width: 100%;
}

table td {
  word-wrap: break-word;         /* All browsers since IE 5.5+ */
  overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
}
.widthcom {
  width: 100%;
}
textarea{
  height: 100px ;
}
.Titlereview {
  text-align: center;
}
.button2{
  border-radius: 15px;   
}
.button3{
  background: #8fcaca;
}