<div  *ngIf="this.loading; else elseBlock" class="spinner-border text-primary" role="status">
  <span class="sr-only"></span>
</div>
<ng-template #elseBlock>
<!-- Analyst -->
<div *ngIf="isValid1">
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <div style=" padding-bottom: 15px">
        <mat-card class="card1">
          <mat-card-title-group>
            <mat-card-title>Review Information</mat-card-title>
          </mat-card-title-group>
          <mat-card-content>
            <div>
              <table class="table ">
                <thead>
                  <tr>
                    <th width="70px" class=" Titlereview">Task</th>
                    <th width="70px" class=" Titlereview">Process</th>
                    <th width="120px" class=" Titlereview">Name</th>
                    <th width="100px" class=" Titlereview">Processing date&time</th>
                    <th width="100px" class=" Titlereview">Comment</th>
                    <th width="120px" class=" Titlereview">cc</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th class=" Titlereview">Pending request</th>
                    <td class=" Titlereview">Issuer</td>
                    <td class=" Titlereview">{{this.DataRes[0].REVI_PAND_ISSUER}}</td>
                    <td class=" Titlereview">
                      <div class = "center" style="padding-top:10px ;">
                        {{this.DataRes[0].ISSUE_DATE}}
                      </div>
                    </td>
                    <td class=" Titlereview">{{this.DataRes[0].REVI_PAND_ISSUE_COM}}</td>
                    <td class=" Titlereview">{{this.DataRes[0].REVI_PAND_ISSUE_CC}}</td>
                  </tr>
                  <tr>
                    <th class=" Titlereview"></th>
                    <td class=" Titlereview">Confirm</td>
                    <td class=" Titlereview" > {{this.DataRes[0].REVI_PAND_CONFIRM}} </td>
                    <td class=" Titlereview">
                      <div class = "center" style="padding-top:10px ;">
                        {{this.DataRes[0].REVI_PAND_CONFIRM_TIME}}
                      </div>
                    </td>
                    <td class=" Titlereview">
                      {{this.DataRes[0].REVI_PAND_CONFIRM_COM}}
                    </td>
                    <td class=" Titlereview">
                      <p *ngFor="let item of this.confirmcc let i = index" >
                        {{item}}
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <th class=" Titlereview">Analysis section</th>
                    <td class=" Titlereview"> Controller</td>
                    <td class=" Titlereview" > {{this.DataRes[0].REVI_ANASEC_CONTROL}}</td>
                    <td class=" Titlereview">
                      <div class = "center" style="padding-top:10px ;">
                        {{this.DataRes[0].REVI_ANASEC_CONTROL_TIME}}
                      </div>
                    </td>
                    <td class=" Titlereview">
                      {{this.DataRes[0].REVI_ANASEC_CONTROL_COM}}
                    </td>
                    <td class=" Titlereview">
                      <p *ngFor="let item of this.controlcc let i = index" >
                        {{item}}
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <th class=" Titlereview"></th>
                    <td class=" Titlereview"> Analyst</td>
                    <td class=" Titlereview" >
                      {{this.DataRes[0].REVI_ANASEC_ANAL}}
                    </td>
                    <td class=" Titlereview">
                      <div class="center" style="padding-top: 15px;">
                        <button mat-raised-button color="primary" class="button2" (click)="AnalystApprove()">Approve
                        </button>
                      </div>
                    </td>
                    <td class=" Titlereview"> 
                      <mat-form-field class="widthcom" appearance="outline">
                      <mat-label>Leave a comment</mat-label>
                      <textarea matInput [(ngModel)]="this.ComAnalyzer"></textarea>
                    </mat-form-field>
                  </td>
                    <td class=" Titlereview">
                      <mat-hint> *Click "Add" to confirm name</mat-hint>
                  <form class="example-form">
                      <mat-form-field class="widthcom" appearance="outline">
                        <mat-label>Select Name</mat-label>
                        <input type="text" placeholder="Pick one" aria-label="Name" matInput [formControl]="myControl"
                          [matAutocomplete]="auto" [(ngModel)]="this.EMAIL_CC[this.countrow]">
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </form>
                    <div class="center">
                      <button mat-button (click)="addIN()">Add</button>
                    </div> 
                    <tr  *ngFor="let item of this.EMAIL_CC let i = index" >
                    <table>
                      <tbody>
                        <div class="row">
                          <div class="col-sm-3">
                            <div *ngIf="item != ''">
                              <td>
                                <button mat-mini-fab color="primary" class="button3" (click)="delete(i)" >
                                  <mat-icon>delete</mat-icon>
                                </button>
                              </td>
                         </div>
                        </div>
                          <div class="col-sm-9">
                        <td>{{item}}</td>
                        <br>
                      </div>
                      
                    </div>
                        </tbody>
                    </table>
                  </tr>
                    </td>
                  </tr>
                  <tr>
                    <th class=" Titlereview">Report approval</th>
                    <td class=" Titlereview">Check</td>
                    <td class=" Titlereview" >
                      <form class="example-form">
                        <mat-form-field class="example-full-width " appearance="outline">
                          <mat-label>Select Name</mat-label>
                          <input type="text" placeholder="Pick one" aria-label="Name" matInput [formControl]="myControl"
                            [matAutocomplete]="auto" [(ngModel)]="this.Check">
                          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                              {{option}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                      </form>
                    </td>
                    <td class=" Titlereview"></td>
                    <td class=" Titlereview"></td>
                    <td class=" Titlereview"></td>
                  </tr>
                  <tr>
                    <th class=" Titlereview"></th>
                    <td class=" Titlereview">Confirm </td>
                    <td class=" Titlereview" >
                      <form class="example-form">
                        <mat-form-field class="example-full-width " appearance="outline">
                          <mat-label>Select Name</mat-label>
                          <input type="text" placeholder="Pick one" aria-label="Name" matInput [formControl]="myControl"
                            [matAutocomplete]="auto" [(ngModel)]="this.Confirm">
                          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                              {{option}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                      </form>
                    </td>
                    <td class=" Titlereview"></td>
                    <td class=" Titlereview"></td>
                    <td class=" Titlereview"></td>
                  </tr>
                  <tr>
                    <th class=" Titlereview"></th>
                    <td class=" Titlereview"> Report approval</td>
                    <td class=" Titlereview" >
                      <form class="example-form">
                        <mat-form-field class="example-full-width " appearance="outline">
                          <mat-label>Select Name</mat-label>
                          <input type="text" placeholder="Pick one" aria-label="Name" matInput [formControl]="myControl"
                            [matAutocomplete]="auto" [(ngModel)]="this.approval">
                          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                              {{option}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                      </form>
                    </td>
                    <td class=" Titlereview"></td>
                    <td class=" Titlereview"></td>
                    <td class=" Titlereview"></td>
                  </tr>
                  <tr>
                    <th class=" Titlereview">CS Evaluation</th>
                    <td class=" Titlereview">Issuer </td>
                    <td class=" Titlereview" ></td>
                    <td class=" Titlereview"> </td>
                    <td class=" Titlereview"></td>
                    <td class=" Titlereview"></td>
                  </tr>
                  <tr>
                    <th class=" Titlereview">Completed</th>
                    <td class=" Titlereview">Close </td>
                    <td class=" Titlereview" ></td>
                    <td class=" Titlereview"></td>
                    <td class=" Titlereview"></td>
                    <td class=" Titlereview"></td>
                  </tr>
  
                </tbody>
              </table>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
  </div>
  </div>

  <!-- comfirm -->
  <div *ngIf="isValid2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
    
          <div style=" padding-bottom: 15px">
            <mat-card class="card1">
              <mat-card-title-group>
                <mat-card-title>Review Information</mat-card-title>
              </mat-card-title-group>
              <mat-card-content>
                <div>
                  <table class="table ">
                    <thead>
                      <tr>
                        <th width="70px" class=" Titlereview">Task</th>
                        <th width="70px" class=" Titlereview">Process</th>
                        <th width="120px" class=" Titlereview">Name</th>
                        <th width="100px" class=" Titlereview">Processing date&time</th>
                        <th width="100px" class=" Titlereview">Comment</th>
                        <th width="120px" class=" Titlereview">cc</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th class=" Titlereview">Pending request</th>
                        <td class=" Titlereview">Issuer</td>
                        <td class=" Titlereview">{{this.DataRes[0].REVI_PAND_ISSUER}}</td>
                        <td class=" Titlereview">
                          <div class = "center" style="padding-top:10px ;">
                            {{this.DataRes[0].ISSUE_DATE}}
                          </div>
                        </td>
                        <td class=" Titlereview">{{this.DataRes[0].REVI_PAND_ISSUE_COM}}</td>
                        <td class=" Titlereview">{{this.DataRes[0].REVI_PAND_ISSUE_CC}}</td>
                      </tr>
                      <tr>
                        <th class=" Titlereview"></th>
                        <td class=" Titlereview">Confirm</td>
                        <td class=" Titlereview" > {{this.DataRes[0].REVI_PAND_CONFIRM}} </td>
                        <td class=" Titlereview">
                          <div class = "center" style="padding-top:10px ;">
                            {{this.DataRes[0].REVI_PAND_CONFIRM_TIME}}
                          </div>
                        </td>
                        <td class=" Titlereview">
                          {{this.DataRes[0].REVI_PAND_CONFIRM_COM}}
                        </td>
                        <td class=" Titlereview">
                          <p *ngFor="let item of this.confirmcc let i = index" >
                            {{item}}
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <th class=" Titlereview">Analysis section</th>
                        <td class=" Titlereview"> Controller</td>
                        <td class=" Titlereview" > {{this.DataRes[0].REVI_ANASEC_CONTROL}}</td>
                        <td class=" Titlereview">
                          <div class = "center" style="padding-top:10px ;">
                            {{this.DataRes[0].REVI_ANASEC_CONTROL_TIME}}
                          </div>
                        </td>
                        <td class=" Titlereview">
                          {{this.DataRes[0].REVI_ANASEC_CONTROL_COM}}
                        </td>
                        <td class=" Titlereview">
                          <p *ngFor="let item of this.controlcc let i = index" >
                            {{item}}
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <th class=" Titlereview"></th>
                        <td class=" Titlereview"> Analyst</td>
                        <td class=" Titlereview" >
                          {{this.DataRes[0].REVI_ANASEC_ANAL}}
                        </td>
                        <td class=" Titlereview">
                          <p>{{this.DataRes[0].REVI_ANASEC_ANAL_TIME}}</p>
                        </td>
                        <td class=" Titlereview"> 
                          <p>{{this.DataRes[0].REVI_ANASEC_ANAL_COM}}</p>
                      </td>
                        <td class=" Titlereview">
                           <p *ngFor="let item of this.Analycc let i = index" >
                      {{item}}
                    </p>
                        </td>
                      </tr>
                      <tr>
                        <th class=" Titlereview">Report approval</th>
                        <td class=" Titlereview">Check</td>
                        <td class=" Titlereview" >
                          <p>{{this.DataRes[0].REVI_REAPPROV_CHECK}}</p>
                        </td>
                        <td class=" Titlereview">
                          <div class="center" style="padding-top: 15px;">
                            <button mat-raised-button color="primary" class="button2" (click)="CheckerApprov()">Approve
                            </button>
                          </div>
                        </td>
                        <td class=" Titlereview"> 
                          <mat-form-field class="widthcom" appearance="outline">
                          <mat-label>Leave a comment</mat-label>
                          <textarea matInput [(ngModel)]="this.ComChack"></textarea>
                        </mat-form-field>
                      </td>
                        <td class=" Titlereview">
                          <mat-hint> *Click "Add" to confirm name</mat-hint>
                      <form class="example-form">
                          <mat-form-field class="widthcom" appearance="outline">
                            <mat-label>Select Name</mat-label>
                            <input type="text" placeholder="Pick one" aria-label="Name" matInput [formControl]="myControl"
                              [matAutocomplete]="auto" [(ngModel)]="this.EMAIL_CC[this.countrow]">
                            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{option}}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                        </form>
                        <div class="center">
                          <button mat-button (click)="addIN()">Add</button>
                        </div> 
                        <tr  *ngFor="let item of this.EMAIL_CC let i = index" >
                        <table>
                          <tbody>
                            <div class="row">
                              <div class="col-sm-3">
                                <div *ngIf="item != ''">
                                  <td>
                                    <button mat-mini-fab color="primary" class="button3" (click)="delete(i)" >
                                      <mat-icon>delete</mat-icon>
                                    </button>
                                  </td>
                             </div>
                            </div>
                              <div class="col-sm-9">
                            <td>{{item}}</td>
                            <br>
                          </div>
                          
                        </div>
                            </tbody>
                        </table>
                      </tr>
                        </td>
                      </tr>
                      <tr>
                        <th class=" Titlereview"></th>
                        <td class=" Titlereview">Confirm </td>
                        <td class=" Titlereview" >
                          <p>{{this.DataRes[0].REVI_REAPPROV_CONFIRM}}</p>
                        </td>
                        <td class=" Titlereview"></td>
                        <td class=" Titlereview"></td>
                        <td class=" Titlereview"></td>
                      </tr>
                      <tr>
                        <th class=" Titlereview"></th>
                        <td class=" Titlereview"> Report approval</td>
                        <td class=" Titlereview" >
                          <p>{{this.DataRes[0].REVI_REAPPROV_APPROV}}</p>
                        </td>
                        <td class=" Titlereview"></td>
                        <td class=" Titlereview"></td>
                        <td class=" Titlereview"></td>
                      </tr>
                      <tr>
                        <th class=" Titlereview">CS Evaluation</th>
                        <td class=" Titlereview">Issuer </td>
                        <td class=" Titlereview" ></td>
                        <td class=" Titlereview"> </td>
                        <td class=" Titlereview"></td>
                        <td class=" Titlereview"></td>
                      </tr>
                      <tr>
                        <th class=" Titlereview">Completed</th>
                        <td class=" Titlereview">Close </td>
                        <td class=" Titlereview" ></td>
                        <td class=" Titlereview"></td>
                        <td class=" Titlereview"></td>
                        <td class=" Titlereview"></td>
                      </tr>
      
                    </tbody>
                  </table>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          </div>
        </div>
        <div class="col-sm-1">
        </div>
      </div>
  </div>

  <!-- Approval -->
  <div *ngIf="isValid3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
    
          <div style=" padding-bottom: 15px">
            <mat-card class="card1">
              <mat-card-title-group>
                <mat-card-title>Review Information</mat-card-title>
              </mat-card-title-group>
              <mat-card-content>
                <div>
                  <table class="table ">
                    <thead>
                      <tr>
                        <th width="70px" class=" Titlereview">Task</th>
                        <th width="70px" class=" Titlereview">Process</th>
                        <th width="120px" class=" Titlereview">Name</th>
                        <th width="100px" class=" Titlereview">Processing date&time</th>
                        <th width="100px" class=" Titlereview">Comment</th>
                        <th width="120px" class=" Titlereview">cc</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th class=" Titlereview">Pending request</th>
                        <td class=" Titlereview">Issuer</td>
                        <td class=" Titlereview">{{this.DataRes[0].REVI_PAND_ISSUER}}</td>
                        <td class=" Titlereview">
                          <div class = "center" style="padding-top:10px ;">
                            {{this.DataRes[0].ISSUE_DATE}}
                          </div>
                        </td>
                        <td class=" Titlereview">{{this.DataRes[0].REVI_PAND_ISSUE_COM}}</td>
                        <td class=" Titlereview">{{this.DataRes[0].REVI_PAND_ISSUE_CC}}</td>
                      </tr>
                      <tr>
                        <th class=" Titlereview"></th>
                        <td class=" Titlereview">Confirm</td>
                        <td class=" Titlereview" > {{this.DataRes[0].REVI_PAND_CONFIRM}} </td>
                        <td class=" Titlereview">
                          <div class = "center" style="padding-top:10px ;">
                            {{this.DataRes[0].REVI_PAND_CONFIRM_TIME}}
                          </div>
                        </td>
                        <td class=" Titlereview">
                          {{this.DataRes[0].REVI_PAND_CONFIRM_COM}}
                        </td>
                        <td class=" Titlereview">
                          <p *ngFor="let item of this.confirmcc let i = index" >
                            {{item}}
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <th class=" Titlereview">Analysis section</th>
                        <td class=" Titlereview"> Controller</td>
                        <td class=" Titlereview" > {{this.DataRes[0].REVI_ANASEC_CONTROL}}</td>
                        <td class=" Titlereview">
                          <div class = "center" style="padding-top:10px ;">
                            {{this.DataRes[0].REVI_ANASEC_CONTROL_TIME}}
                          </div>
                        </td>
                        <td class=" Titlereview">
                          {{this.DataRes[0].REVI_ANASEC_CONTROL_COM}}
                        </td>
                        <td class=" Titlereview">
                          <p *ngFor="let item of this.controlcc let i = index" >
                            {{item}}
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <th class=" Titlereview"></th>
                        <td class=" Titlereview"> Analyst</td>
                        <td class=" Titlereview" >
                          {{this.DataRes[0].REVI_ANASEC_ANAL}}
                        </td>
                        <td class=" Titlereview">
                          <p>{{this.DataRes[0].REVI_ANASEC_ANAL_TIME}}</p>
                        </td>
                        <td class=" Titlereview"> 
                          <p>{{this.DataRes[0].REVI_ANASEC_ANAL_COM}}</p>
                      </td>
                        <td class=" Titlereview">
                           <p *ngFor="let item of this.Analycc let i = index" >
                      {{item}}
                    </p>
                        </td>
                      </tr>
                      <tr>
                        <th class=" Titlereview">Report approval</th>
                        <td class=" Titlereview">Check</td>
                        <td class=" Titlereview" >
                          <p>{{this.DataRes[0].REVI_REAPPROV_CHECK}}</p>
                        </td>
                        <td class=" Titlereview">
                          <p>{{this.DataRes[0].REVI_REAPPROV_CHECK_TIME}}</p>
                        </td>
                        <td class=" Titlereview"> 
                          <p>{{this.DataRes[0].REVI_REAPPROV_CHECK_COM}}</p>
                      </td>
                        <td class=" Titlereview">
                          <p *ngFor="let item of this.chackcc let i = index" >
                            {{item}}
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <th class=" Titlereview"></th>
                        <td class=" Titlereview">Confirm </td>
                        <td class=" Titlereview" >
                          <p>{{this.DataRes[0].REVI_REAPPROV_CONFIRM}}</p>
                        </td>
                        <td>
                        <div class="center" style="padding-top: 15px;">
                          <button mat-raised-button color="primary" class="button2" (click)="ConfirmApprov()">Approve
                          </button>
                        </div>
                      </td>
                        <td class=" Titlereview"> 
                          <mat-form-field class="widthcom" appearance="outline">
                          <mat-label>Leave a comment</mat-label>
                          <textarea matInput [(ngModel)]="this.comConfirm"></textarea>
                        </mat-form-field>
                      </td>
                        <td class=" Titlereview">
                          <mat-hint> *Click "Add" to confirm name</mat-hint>
                      <form class="example-form">
                          <mat-form-field class="widthcom" appearance="outline">
                            <mat-label>Select Name</mat-label>
                            <input type="text" placeholder="Pick one" aria-label="Name" matInput [formControl]="myControl"
                              [matAutocomplete]="auto" [(ngModel)]="this.EMAIL_CC[this.countrow]">
                            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{option}}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                        </form>
                        <div class="center">
                          <button mat-button (click)="addIN()">Add</button>
                        </div> 
                        <tr  *ngFor="let item of this.EMAIL_CC let i = index" >
                        <table>
                          <tbody>
                            <div class="row">
                              <div class="col-sm-3">
                                <div *ngIf="item != ''">
                                  <td>
                                    <button mat-mini-fab color="primary" class="button3" (click)="delete(i)" >
                                      <mat-icon>delete</mat-icon>
                                    </button>
                                  </td>
                             </div>
                            </div>
                              <div class="col-sm-9">
                            <td>{{item}}</td>
                            <br>
                          </div>
                          
                        </div>
                            </tbody>
                        </table>
                      </tr>
                        </td>
                      </tr>
                      <tr>
                        <th class=" Titlereview"></th>
                        <td class=" Titlereview"> Report approval</td>
                        <td class=" Titlereview" >
                          <p>{{this.DataRes[0].REVI_REAPPROV_APPROV}}</p>
                        </td>
                        <td class=" Titlereview"></td>
                        <td class=" Titlereview"></td>
                        <td class=" Titlereview"></td>
                      </tr>
                      <tr>
                        <th class=" Titlereview">CS Evaluation</th>
                        <td class=" Titlereview">Issuer </td>
                        <td class=" Titlereview" ></td>
                        <td class=" Titlereview"> </td>
                        <td class=" Titlereview"></td>
                        <td class=" Titlereview"></td>
                      </tr>
                      <tr>
                        <th class=" Titlereview">Completed</th>
                        <td class=" Titlereview">Close </td>
                        <td class=" Titlereview" ></td>
                        <td class=" Titlereview"></td>
                        <td class=" Titlereview"></td>
                        <td class=" Titlereview"></td>
                      </tr>
      
                    </tbody>
                  </table>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        </div>
        <div class="col-sm-1">
        </div>
      </div>
  </div>

  <!--GoCS -->
  <div *ngIf="isValid4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
    
          <div style=" padding-bottom: 15px">
            <mat-card class="card1">
              <mat-card-title-group>
                <mat-card-title>Review Information</mat-card-title>
              </mat-card-title-group>
              <mat-card-content>
                <div>
                  <table class="table ">
                    <thead>
                      <tr>
                        <th width="70px" class=" Titlereview">Task</th>
                        <th width="70px" class=" Titlereview">Process</th>
                        <th width="120px" class=" Titlereview">Name</th>
                        <th width="100px" class=" Titlereview">Processing date&time</th>
                        <th width="100px" class=" Titlereview">Comment</th>
                        <th width="120px" class=" Titlereview">cc</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th class=" Titlereview">Pending request</th>
                        <td class=" Titlereview">Issuer</td>
                        <td class=" Titlereview">{{this.DataRes[0].REVI_PAND_ISSUER}}</td>
                        <td class=" Titlereview">
                          <div class = "center" style="padding-top:10px ;">
                            {{this.DataRes[0].ISSUE_DATE}}
                          </div>
                        </td>
                        <td class=" Titlereview">{{this.DataRes[0].REVI_PAND_ISSUE_COM}}</td>
                        <td class=" Titlereview">{{this.DataRes[0].REVI_PAND_ISSUE_CC}}</td>
                      </tr>
                      <tr>
                        <th class=" Titlereview"></th>
                        <td class=" Titlereview">Confirm</td>
                        <td class=" Titlereview" > {{this.DataRes[0].REVI_PAND_CONFIRM}} </td>
                        <td class=" Titlereview">
                          <div class = "center" style="padding-top:10px ;">
                            {{this.DataRes[0].REVI_PAND_CONFIRM_TIME}}
                          </div>
                        </td>
                        <td class=" Titlereview">
                          {{this.DataRes[0].REVI_PAND_CONFIRM_COM}}
                        </td>
                        <td class=" Titlereview">
                          <p *ngFor="let item of this.confirmcc let i = index" >
                            {{item}}
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <th class=" Titlereview">Analysis section</th>
                        <td class=" Titlereview"> Controller</td>
                        <td class=" Titlereview" > {{this.DataRes[0].REVI_ANASEC_CONTROL}}</td>
                        <td class=" Titlereview">
                          <div class = "center" style="padding-top:10px ;">
                            {{this.DataRes[0].REVI_ANASEC_CONTROL_TIME}}
                          </div>
                        </td>
                        <td class=" Titlereview">
                          {{this.DataRes[0].REVI_ANASEC_CONTROL_COM}}
                        </td>
                        <td class=" Titlereview">
                          <p *ngFor="let item of this.controlcc let i = index" >
                            {{item}}
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <th class=" Titlereview"></th>
                        <td class=" Titlereview"> Analyst</td>
                        <td class=" Titlereview" >
                          {{this.DataRes[0].REVI_ANASEC_ANAL}}
                        </td>
                        <td class=" Titlereview">
                          <p>{{this.DataRes[0].REVI_ANASEC_ANAL_TIME}}</p>
                        </td>
                        <td class=" Titlereview"> 
                          <p>{{this.DataRes[0].REVI_ANASEC_ANAL_COM}}</p>
                      </td>
                        <td class=" Titlereview">
                           <p *ngFor="let item of this.Analycc let i = index" >
                      {{item}}
                    </p>
                        </td>
                      </tr>
                      <tr>
                        <th class=" Titlereview">Report approval</th>
                        <td class=" Titlereview">Check</td>
                        <td class=" Titlereview" >
                          <p>{{this.DataRes[0].REVI_REAPPROV_CHECK}}</p>
                        </td>
                        <td class=" Titlereview">
                          <p>{{this.DataRes[0].REVI_REAPPROV_CHECK_TIME}}</p>
                        </td>
                        <td class=" Titlereview"> 
                          <p>{{this.DataRes[0].REVI_REAPPROV_CHECK_COM}}</p>
                      </td>
                        <td class=" Titlereview">
                          <p *ngFor="let item of this.chackcc let i = index" >
                            {{item}}
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <th class=" Titlereview"></th>
                        <td class=" Titlereview">Confirm </td>
                        <td class=" Titlereview" >
                          <p>{{this.DataRes[0].REVI_REAPPROV_CONFIRM}}</p>
                        </td>
                        <td>
                          <p>{{this.DataRes[0].REVI_REAPPROV_CONFIRM_TIME}}</p>
                      </td>
                        <td class=" Titlereview"> 
                          <p>{{this.DataRes[0].REVI_REAPPROV_CONFIRM_COM}}</p>
                      </td>
                        <td class=" Titlereview">
                          <p>{{this.DataRes[0].REVI_REAPPROV_CONFIRM_CC}}</p>
                        </td>
                      </tr>
                      <tr>
                        <th class=" Titlereview"></th>
                        <td class=" Titlereview"> Report approval</td>
                        <td class=" Titlereview" >
                          <p>{{this.DataRes[0].REVI_REAPPROV_APPROV}}</p>
                        </td>
                        <td>
                          <div class="center" style="padding-top: 15px;">
                            <button mat-raised-button color="primary" class="button2" (click)="ApproverApprov()">Approve
                            </button>
                          </div>
                        </td>
                          <td class=" Titlereview"> 
                            <mat-form-field class="widthcom" appearance="outline">
                            <mat-label>Leave a comment</mat-label>
                            <textarea matInput [(ngModel)]="this.comapproval"></textarea>
                          </mat-form-field>
                        </td>
                          <td class=" Titlereview">
                            <mat-hint> *Click "Add" to confirm name</mat-hint>
                        <form class="example-form">
                            <mat-form-field class="widthcom" appearance="outline">
                              <mat-label>Select Name</mat-label>
                              <input type="text" placeholder="Pick one" aria-label="Name" matInput [formControl]="myControl"
                                [matAutocomplete]="auto" [(ngModel)]="this.EMAIL_CC[this.countrow]">
                              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                  {{option}}
                                </mat-option>
                              </mat-autocomplete>
                            </mat-form-field>
                          </form>
                          <div class="center">
                            <button mat-button (click)="addIN()">Add</button>
                          </div> 
                          <tr  *ngFor="let item of this.EMAIL_CC let i = index" >
                          <table>
                            <tbody>
                              <div class="row">
                                <div class="col-sm-3">
                                  <div *ngIf="item != ''">
                                    <td>
                                      <button mat-mini-fab color="primary" class="button3" (click)="delete(i)" >
                                        <mat-icon>delete</mat-icon>
                                      </button>
                                    </td>
                               </div>
                              </div>
                                <div class="col-sm-9">
                              <td>{{item}}</td>
                              <br>
                            </div>
                            
                          </div>
                              </tbody>
                          </table>
                        </tr>
                          </td>
                      </tr>
                      <tr>
                        <th class=" Titlereview">CS Evaluation</th>
                        <td class=" Titlereview">Issuer </td>
                        <td class=" Titlereview" ></td>
                        <td class=" Titlereview"> </td>
                        <td class=" Titlereview"></td>
                        <td class=" Titlereview"></td>
                      </tr>
                      <tr>
                        <th class=" Titlereview">Completed</th>
                        <td class=" Titlereview">Close </td>
                        <td class=" Titlereview" ></td>
                        <td class=" Titlereview"></td>
                        <td class=" Titlereview"></td>
                        <td class=" Titlereview"></td>
                      </tr>
      
                    </tbody>
                  </table>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        </div>
        <div class="col-sm-1">
        </div>
      </div>
  </div>

  <!--GoComplete -->
  <div *ngIf="isValid5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
    
          <div style=" padding-bottom: 15px">
            <mat-card class="card1">
              <mat-card-title-group>
                <mat-card-title>Review Information</mat-card-title>
              </mat-card-title-group>
              <mat-card-content>
                <div>
                  <table class="table ">
                    <thead>
                      <tr>
                        <th width="70px" class=" Titlereview">Task</th>
                        <th width="70px" class=" Titlereview">Process</th>
                        <th width="120px" class=" Titlereview">Name</th>
                        <th width="100px" class=" Titlereview">Processing date&time</th>
                        <th width="100px" class=" Titlereview">Comment</th>
                        <th width="120px" class=" Titlereview">cc</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th class=" Titlereview">Pending request</th>
                        <td class=" Titlereview">Issuer</td>
                        <td class=" Titlereview">{{this.DataRes[0].REVI_PAND_ISSUER}}</td>
                        <td class=" Titlereview">
                          <div class = "center" style="padding-top:10px ;">
                            {{this.DataRes[0].ISSUE_DATE}}
                          </div>
                        </td>
                        <td class=" Titlereview">{{this.DataRes[0].REVI_PAND_ISSUE_COM}}</td>
                        <td class=" Titlereview">{{this.DataRes[0].REVI_PAND_ISSUE_CC}}</td>
                      </tr>
                      <tr>
                        <th class=" Titlereview"></th>
                        <td class=" Titlereview">Confirm</td>
                        <td class=" Titlereview" > {{this.DataRes[0].REVI_PAND_CONFIRM}} </td>
                        <td class=" Titlereview">
                          <div class = "center" style="padding-top:10px ;">
                            {{this.DataRes[0].REVI_PAND_CONFIRM_TIME}}
                          </div>
                        </td>
                        <td class=" Titlereview">
                          {{this.DataRes[0].REVI_PAND_CONFIRM_COM}}
                        </td>
                        <td class=" Titlereview">
                          <p *ngFor="let item of this.confirmcc let i = index" >
                            {{item}}
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <th class=" Titlereview">Analysis section</th>
                        <td class=" Titlereview"> Controller</td>
                        <td class=" Titlereview" > {{this.DataRes[0].REVI_ANASEC_CONTROL}}</td>
                        <td class=" Titlereview">
                          <div class = "center" style="padding-top:10px ;">
                            {{this.DataRes[0].REVI_ANASEC_CONTROL_TIME}}
                          </div>
                        </td>
                        <td class=" Titlereview">
                          {{this.DataRes[0].REVI_ANASEC_CONTROL_COM}}
                        </td>
                        <td class=" Titlereview">
                          <p *ngFor="let item of this.controlcc let i = index" >
                            {{item}}
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <th class=" Titlereview"></th>
                        <td class=" Titlereview"> Analyst</td>
                        <td class=" Titlereview" >
                          {{this.DataRes[0].REVI_ANASEC_ANAL}}
                        </td>
                        <td class=" Titlereview">
                          <p>{{this.DataRes[0].REVI_ANASEC_ANAL_TIME}}</p>
                        </td>
                        <td class=" Titlereview"> 
                          <p>{{this.DataRes[0].REVI_ANASEC_ANAL_COM}}</p>
                      </td>
                        <td class=" Titlereview">
                           <p *ngFor="let item of this.Analycc let i = index" >
                      {{item}}
                    </p>
                        </td>
                      </tr>
                      <tr>
                        <th class=" Titlereview">Report approval</th>
                        <td class=" Titlereview">Check</td>
                        <td class=" Titlereview" >
                          <p>{{this.DataRes[0].REVI_REAPPROV_CHECK}}</p>
                        </td>
                        <td class=" Titlereview">
                          <p>{{this.DataRes[0].REVI_REAPPROV_CHECK_TIME}}</p>
                        </td>
                        <td class=" Titlereview"> 
                          <p>{{this.DataRes[0].REVI_REAPPROV_CHECK_COM}}</p>
                      </td>
                        <td class=" Titlereview">
                          <p *ngFor="let item of this.chackcc let i = index" >
                            {{item}}
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <th class=" Titlereview"></th>
                        <td class=" Titlereview">Confirm </td>
                        <td class=" Titlereview" >
                          <p>{{this.DataRes[0].REVI_REAPPROV_CONFIRM}}</p>
                        </td>
                        <td>
                          <p>{{this.DataRes[0].REVI_REAPPROV_CONFIRM_TIME}}</p>
                      </td>
                        <td class=" Titlereview"> 
                          <p>{{this.DataRes[0].REVI_REAPPROV_CONFIRM_COM}}</p>
                      </td>
                        <td class=" Titlereview">
                          <p>{{this.DataRes[0].REVI_REAPPROV_CONFIRM_CC}}</p>
                        </td>
                      </tr>
                      <tr>
                        <th class=" Titlereview"></th>
                        <td class=" Titlereview"> Report approval</td>
                        <td class=" Titlereview" >
                          <p>{{this.DataRes[0].REVI_REAPPROV_APPROV}}</p>
                        </td>
                        <td>
                          <p>{{this.DataRes[0].REVI_REAPPROV_APPROV_TIME}}</p>
                        </td>
                          <td class=" Titlereview"> 
                            <p>{{this.DataRes[0].REVI_REAPPROV_APPROV_COM}}</p>
                        </td>
                          <td class=" Titlereview">
                            <p *ngFor="let item of this.approvalcc let i = index" >
                              {{item}}
                            </p>
                          </td>
                      </tr>
                      <tr>
                        <th class=" Titlereview">CS Evaluation</th>
                        <td class=" Titlereview">Issuer </td>
                        <td class=" Titlereview" >
                          <p>{{this.DataRes[0].REVI_PAND_ISSUER}}</p>
                        </td>
                        <td class=" Titlereview">
                          <div class="center" style="padding-top: 10px;">
                          <button mat-raised-button color="primary" class="button2" (click)="CsApprove()">Approve
                          </button>
                        </div> 
                      </td>
                        <td class=" Titlereview"></td>
                        <td class=" Titlereview"></td>
                      </tr>
                      <tr>
                        <th class=" Titlereview">Completed</th>
                        <td class=" Titlereview">Close </td>
                        <td class=" Titlereview" ></td>
                        <td class=" Titlereview"></td>
                        <td class=" Titlereview"></td>
                        <td class=" Titlereview"></td>
                      </tr>
      
                    </tbody>
                  </table>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        </div>
        <div class="col-sm-1">
        </div>
      </div>
  </div>

  <!--GoComplete -->
  <div *ngIf="isValid6">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
    
          <div style=" padding-bottom: 15px">
            <mat-card class="card1">
              <mat-card-title-group>
                <mat-card-title>Review Information</mat-card-title>
              </mat-card-title-group>
              <mat-card-content>
                <div>
                  <table class="table ">
                    <thead>
                      <tr>
                        <th width="70px" class=" Titlereview">Task</th>
                        <th width="70px" class=" Titlereview">Process</th>
                        <th width="120px" class=" Titlereview">Name</th>
                        <th width="100px" class=" Titlereview">Processing date&time</th>
                        <th width="100px" class=" Titlereview">Comment</th>
                        <th width="120px" class=" Titlereview">cc</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th class=" Titlereview">Pending request</th>
                        <td class=" Titlereview">Issuer</td>
                        <td class=" Titlereview">{{this.DataRes[0].REVI_PAND_ISSUER}}</td>
                        <td class=" Titlereview">
                          <div class = "center" style="padding-top:10px ;">
                            {{this.DataRes[0].ISSUE_DATE}}
                          </div>
                        </td>
                        <td class=" Titlereview">{{this.DataRes[0].REVI_PAND_ISSUE_COM}}</td>
                        <td class=" Titlereview">{{this.DataRes[0].REVI_PAND_ISSUE_CC}}</td>
                      </tr>
                      <tr>
                        <th class=" Titlereview"></th>
                        <td class=" Titlereview">Confirm</td>
                        <td class=" Titlereview" > {{this.DataRes[0].REVI_PAND_CONFIRM}} </td>
                        <td class=" Titlereview">
                          <div class = "center" style="padding-top:10px ;">
                            {{this.DataRes[0].REVI_PAND_CONFIRM_TIME}}
                          </div>
                        </td>
                        <td class=" Titlereview">
                          {{this.DataRes[0].REVI_PAND_CONFIRM_COM}}
                        </td>
                        <td class=" Titlereview">
                          <p *ngFor="let item of this.confirmcc let i = index" >
                            {{item}}
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <th class=" Titlereview">Analysis section</th>
                        <td class=" Titlereview"> Controller</td>
                        <td class=" Titlereview" > {{this.DataRes[0].REVI_ANASEC_CONTROL}}</td>
                        <td class=" Titlereview">
                          <div class = "center" style="padding-top:10px ;">
                            {{this.DataRes[0].REVI_ANASEC_CONTROL_TIME}}
                          </div>
                        </td>
                        <td class=" Titlereview">
                          {{this.DataRes[0].REVI_ANASEC_CONTROL_COM}}
                        </td>
                        <td class=" Titlereview">
                          <p *ngFor="let item of this.controlcc let i = index" >
                            {{item}}
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <th class=" Titlereview"></th>
                        <td class=" Titlereview"> Analyst</td>
                        <td class=" Titlereview" >
                          {{this.DataRes[0].REVI_ANASEC_ANAL}}
                        </td>
                        <td class=" Titlereview">
                          <p>{{this.DataRes[0].REVI_ANASEC_ANAL_TIME}}</p>
                        </td>
                        <td class=" Titlereview"> 
                          <p>{{this.DataRes[0].REVI_ANASEC_ANAL_COM}}</p>
                      </td>
                        <td class=" Titlereview">
                           <p *ngFor="let item of this.Analycc let i = index" >
                      {{item}}
                    </p>
                        </td>
                      </tr>
                      <tr>
                        <th class=" Titlereview">Report approval</th>
                        <td class=" Titlereview">Check</td>
                        <td class=" Titlereview" >
                          <p>{{this.DataRes[0].REVI_REAPPROV_CHECK}}</p>
                        </td>
                        <td class=" Titlereview">
                          <p>{{this.DataRes[0].REVI_REAPPROV_CHECK_TIME}}</p>
                        </td>
                        <td class=" Titlereview"> 
                          <p>{{this.DataRes[0].REVI_REAPPROV_CHECK_COM}}</p>
                      </td>
                        <td class=" Titlereview">
                          <p *ngFor="let item of this.chackcc let i = index" >
                            {{item}}
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <th class=" Titlereview"></th>
                        <td class=" Titlereview">Confirm </td>
                        <td class=" Titlereview" >
                          <p>{{this.DataRes[0].REVI_REAPPROV_CONFIRM}}</p>
                        </td>
                        <td>
                          <p>{{this.DataRes[0].REVI_REAPPROV_CONFIRM_TIME}}</p>
                      </td>
                        <td class=" Titlereview"> 
                          <p>{{this.DataRes[0].REVI_REAPPROV_CONFIRM_COM}}</p>
                      </td>
                        <td class=" Titlereview">
                          <p>{{this.DataRes[0].REVI_REAPPROV_CONFIRM_CC}}</p>
                        </td>
                      </tr>
                      <tr>
                        <th class=" Titlereview"></th>
                        <td class=" Titlereview"> Report approval</td>
                        <td class=" Titlereview" >
                          <p>{{this.DataRes[0].REVI_REAPPROV_APPROV}}</p>
                        </td>
                        <td>
                          <p>{{this.DataRes[0].REVI_REAPPROV_APPROV_TIME}}</p>
                        </td>
                          <td class=" Titlereview"> 
                            <p>{{this.DataRes[0].REVI_REAPPROV_APPROV_COM}}</p>
                        </td>
                          <td class=" Titlereview">
                            <p *ngFor="let item of this.approvalcc let i = index" >
                              {{item}}
                            </p>
                          </td>
                      </tr>
                      <tr>
                        <th class=" Titlereview">CS Evaluation</th>
                        <td class=" Titlereview">Issuer </td>
                        <td class=" Titlereview" >
                          <p>{{this.DataRes[0].REVI_PAND_ISSUER}}</p>
                        </td>
                        <td class=" Titlereview">
                          <p>{{this.DataRes[0].REVI_REAPPROV_APPROV_TIME}}</p>
                      </td>
                        <td class=" Titlereview"></td>
                        <td class=" Titlereview"></td>
                      </tr>
                      <tr>
                        <th class=" Titlereview">Completed</th>
                        <td class=" Titlereview">Close </td>
                        <td class=" Titlereview" ></td>
                        <td class=" Titlereview"></td>
                        <td class=" Titlereview"></td>
                        <td class=" Titlereview"></td>
                      </tr>
      
                    </tbody>
                  </table>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        </div>
        <div class="col-sm-1">
        </div>
      </div>
  </div>

</ng-template>
