.button1{
    background-color:  rgb(255, 185, 185);
    height: 30px;
    border-radius: 8px;
}
.button2{
    background-color:  rgb(253, 184, 80);
    height: 30px;
    border-radius: 8px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }