<div class="card col-sm-10 container ">
    <div class="card-header ">
        <h2>Attention: Are dangerous or ESD substance included?</h2>
    </div>
    <div class="card-body">
        <!-- Dangerous -->
            <div class="col-sm-10">
                <div class="form-check-inline">
                    <label class="form-check-label" for="radio1">
                    <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1">Dangerous
                    </label>
                </div>
                 <div class="form-check-inline">
                     <label class="form-check-label" for="radio2">
                     <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">Poisonous
                     </label>
                 </div>
                 <div class="form-check-inline">
                     <label class="form-check-label" for="radio3">
                     <input type="radio" class="form-check-input" id="radio3" name="optradio" value="option3">Deleterious  
                     </label>
                 </div>
                 <div class="form-check-inline">
                     <label class="form-check-label" for="radio4">
                     <input type="radio" class="form-check-input" id="radio4" name="optradio" value="option4">Heavy metal  
                     </label>
                 </div> 
                 <div class="form-check-inline">
                    <label class="form-check-label" for="radio4">
                    <input type="radio" class="form-check-input" id="radio4" name="optradio" value="option4">ESD
                    </label>
                </div>   
                <div class="form-check-inline">
                    <label class="form-check-label" for="radio4">
                    <input type="radio" class="form-check-input" id="radio4" name="optradio" value="option4">No  
                    </label>
                </div>    
            </div>
        
        <!-- Sample after tested -->
        <div class="row">
            <div class="col-sm-2 ">
                <label for="comment" class="font-weight-bold"> Sample after tested: </label>
            </div>
            <div class="col-sm-10">
                <div class="form-check-inline">
                    <label class="form-check-label" for="radio1">
                    <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1"> Dispose sample
                    </label>
                </div>
                 <div class="form-check-inline">
                     <label class="form-check-label" for="radio2">
                     <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">Return Residual Sample
                     </label>
                 </div>      
            </div>
        </div>     
    </div>
</div>
<br>
<!-- Related matters -->
<div class="card col-sm-10 container ">
    <div class="card-header ">
        <h2>Related matters </h2>
    </div>
    <div class="card-body">
        <div class="example-container mat-elevation-z8">
            <table mat-table [dataSource]="dataSource2">
          
              <!-- Position Column -->
              
          
              <!-- Name Column -->
              <ng-container matColumnDef="top">
                <th mat-header-cell *matHeaderCellDef> top </th>
                <td mat-cell *matCellDef="let element"> {{element.top}} </td>
              </ng-container>
          
              <!-- Weight Column -->
              <ng-container matColumnDef="side">
                <th mat-header-cell *matHeaderCellDef> side </th>
                <td mat-cell *matCellDef="let element"> {{element.side}} </td>
              </ng-container>
          
              <!-- Symbol Column -->
              <ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef> view </th>
                <td mat-cell *matCellDef="let element"> {{element.view}} </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
            </table>
          </div>
    <div class="row text-center">
    <div class=" col-sm-5">
        <br>
            <button mat-raised-button color="primary">Relate with all request</button>
    </div>
    
    <div class=" col-sm-5">
        <br>
            <button mat-raised-button color="primary">Relate with your department request</button>
    </div>
    </div>
</div>
</div>

<br>
<!-- Keywords for searching -->
<div class="card col-sm-10 container ">
    <div class="card-header ">
        <h2>Keywords for searching </h2>
    </div>
    <div class="card-body">

   
    <div class="row">
        <div class="col-sm-2">
            <p>Characteristic:</p>
        </div>
        <div class="col-sm-3">
          <mat-form-field appearance="fill">       
              <mat-select>
                <mat-option value="Adhesive">Adhesive</mat-option>
                <mat-option value="Binder">Binder</mat-option>
                <mat-option value="Detergent">Detergent</mat-option>
                <mat-option value="Electrode">Electrode</mat-option>
                <mat-option value="Filler">Filler</mat-option>
                <mat-option value="Flux">Flux</mat-option>
                <mat-option value="Glass">Glass</mat-option>
                <mat-option value="Insulator">Insulator</mat-option>
                <mat-option value="Magnetic material">Magnetic material</mat-option>
                <mat-option value="Metal">Metal</mat-option>
                <mat-option value="Paste">Paste</mat-option>
                <mat-option value="Piezoelectric">Piezoelectric</mat-option>
                <mat-option value="Plating solution">Plating solution</mat-option>
                <mat-option value="Printing ink">Printing ink</mat-option>
                <mat-option value="Raw material">Raw material</mat-option>
                <mat-option value="Resin">Resin</mat-option>
                <mat-option value="Resist">Resist</mat-option>
                <mat-option value="Semiconductor">Semiconductor</mat-option>
                <mat-option value="Solder">Solder</mat-option>
                <mat-option value="Solvent">Solvent</mat-option>
                <mat-option value="Varnish">Varnish</mat-option>
                <mat-option value="Waste water">Waste water</mat-option>
                <mat-option value="Wax">Wax</mat-option>
                <mat-option value="Oil">Oil</mat-option>
                <mat-option value="Painting">Painting</mat-option>
                <mat-option value="Other">Other</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
     </div>
  
        <div class="row">
            <div class="col-sm-2">
                <p>State :</p>
            </div>
            <div class="col-sm-3">
              <mat-form-field appearance="fill">       
                  <mat-select>
                    <mat-option value="Boundary">Boundary</mat-option>
                    <mat-option value="Chip">Chip</mat-option>
                    <mat-option value="Film">Film</mat-option>
                    <mat-option value="Gas">Gas</mat-option>
                    <mat-option value="Jig">Jig</mat-option>
                    <mat-option value="Liquid">Liquid</mat-option>
                    <mat-option value="Multilayer">Multilayer</mat-option>
                    <mat-option value="Powder">Powder</mat-option>
                    <mat-option value="Paste">Paste</mat-option>
                    <mat-option value="Plate">Plate</mat-option>
                    <mat-option value="Sheet">Sheet</mat-option>
                    <mat-option value="Slurry">Slurry</mat-option>
                    <mat-option value="Substate">Substate</mat-option>
                    <mat-option value="Unit">Unit</mat-option>
                    <mat-option value="Wire">Wire</mat-option>
                    <mat-option value="Other">Other</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
         </div>
        
            <div class="row">
                <div class="col-sm-2">
                    <p>Phenomena :</p>
                </div>
                <div class="col-sm-3">
                  <mat-form-field appearance="fill">       
                      <mat-select>
                        <mat-option value="Discolor">Discolor</mat-option>
                        <mat-option value="Change in form">Change in form</mat-option>
                        <mat-option value="Chemical state">Chemical state</mat-option>
                        <mat-option value="Composition">Composition</mat-option>
                        <mat-option value="Contamination">Contamination</mat-option>
                        <mat-option value="Corrosion">Corrosion</mat-option>
                        <mat-option value="Crack">Crack</mat-option>
                        <mat-option value="Deformation">Deformation</mat-option>
                        <mat-option value="Detachment">Detachment</mat-option>
                        <mat-option value="Diffusion">Diffusion</mat-option>
                        <mat-option value="Electrical characteristics">Electrical characteristics</mat-option>
                        <mat-option value="Element distribution">Element distribution</mat-option>
                        <mat-option value="Foreign object">Foreign object</mat-option>
                        <mat-option value="Migration">Migration</mat-option>
                        <mat-option value="Oxidization">Oxidization</mat-option>
                        <mat-option value="Pore/Void">Pore/Void</mat-option>
                        <mat-option value="Residue">Residue</mat-option>
                        <mat-option value="Segregation">Segregation</mat-option>
                        <mat-option value="Stress">Stress</mat-option>
                        <mat-option value="Structure change">Structure change</mat-option>
                        <mat-option value="Surface">Surface</mat-option>
                        <mat-option value="Thermal properties change">Thermal properties change</mat-option>
                        <mat-option value="Other">Other</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
             </div>            
    </div>   
</div>
<br>
<!-- Question -->
<div class="card col-sm-10 container ">
    <div class="card-header ">
        <h2>Question and Answer form </h2>
    </div>
    <div class="card-body">
        <button mat-stroked-button> + Add question</button>
    </div>   
</div>
<br>
<!-- Review Information -->
<div class="card col-sm-10 container ">
    <div class="card-header ">
        <h2>Review Information </h2>
    </div>
    <div class="card-body">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


  <!-- Position Column -->
  <ng-container matColumnDef="task">
    <th mat-header-cell *matHeaderCellDef> Task </th>
    <td mat-cell *matCellDef="let element"> {{element.task}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="process">
    <th mat-header-cell *matHeaderCellDef> Process </th>
    <td mat-cell *matCellDef="let element"> {{element.process}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef> Processing date and time </th>
    <td mat-cell *matCellDef="let element"> {{element.time}} </td>
  </ng-container>

   <!-- comment Column -->
   <ng-container matColumnDef="comment">
    <th mat-header-cell *matHeaderCellDef> Comment </th>
    <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
  </ng-container>

    <!-- cc Column -->
    <ng-container matColumnDef="cc">
        <th mat-header-cell *matHeaderCellDef> cc </th>
        <td mat-cell *matCellDef="let element"> {{element.cc}} </td>
      </ng-container> 

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
    </div>   
</div>
<br>