<div  *ngIf="this.loading; else elseBlock" class="spinner-border text-primary" role="status">
  <span class="sr-only"></span>
</div>
<ng-template #elseBlock>
  <div class="border-bottom Toolbar">
    <div class="row">
      <div class="col-xl-1"></div>
      <div class="col-xl-7 center" style="padding :15px 0 ;">
        <button mat-button>Home</button>
        <button mat-button (click)="Goanalysishome()">Analysis request form</button>
        <button mat-button>Equipment Calendar</button>
        <button mat-button>Job tracking</button>
        <button mat-button>Search previous report</button>
      </div>

        <div class="col-xl-4 center " *ngIf="isValid;else other_content">
          <div class="row">
          <div class="col-xl-8">
       {{this.nameonly}}
       ({{this.Codelocal}})
       {{this.departmentlocal}}
      </div>
      <div class="col-xl-4">
       <button mat-raised-button color="primary" (click)="Logout()">Log out</button>
        </div>
      </div>
    </div>

    <ng-template #other_content>
    <div class="col-xl-4 center ">
      <button mat-raised-button color="primary" (click)="Gologin()">Login</button>
      <button mat-raised-button color="primary" style="margin-left:10px;" (click)="GoSignup()">Sign up</button>
    </div>
  </ng-template>


    </div>
  </div>

  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <div class="center">
      <h1 style=" padding-top:50px; padding-bottom: 30px;">Job tracking <b>No.{{this.DataRes[0].REQ_NUM}}</b></h1>
    </div>
      <div class="center">
          <div class="row">
            <!-- Step1 -->
            <div class="col-xl  " *ngIf="isValidPic1;else other_content1">
              <div class="row">
                <div class="col-sm-7 '">
                  <div class="card card_track">
                    <div class="card-body">
                      <img src="../assets/Tracking_web/Image/add-file.png">  
                    </div>
                  </div>
                  <br>
                  <div style=" margin-left: 10px ">
                  <h5><b>ISSUE REPORT</b></h5>
                  <p>{{this.DataRes[0].ISSUE_DATE}}</p>
                  </div>
                </div>
                <div class="col-sm-5 center'" style="padding-top:17px;">
                  <img src="../assets/Tracking_web/Image/substract_black.png">
                </div>
              </div>
            </div>
            <ng-template #other_content1>
              <div class="col-xl ">
                <div class="row">
                  <div class="col-sm-7 '">
                    <div class="card card_track2">
                      <div class="card-body">
                        <img src="../assets/Tracking_web/Image/add-file.png">                    
                      </div>
                    </div>
                    <br>
                    <div style=" margin-left: 10px ">
                    <h5><b>ISSUE REPORT</b></h5>
                    <p>{{this.DataRes[0].ISSUE_DATE}}</p>
                    </div>
                  </div>
                  <div class="col-sm-5 center'" style="padding-top:17px;">
                    <img src="../assets/Tracking_web/Image/substract_color.png">
                  </div>
                </div>
              </div>
            </ng-template>
            <!-- Step 2 -->
            <div class="col-xl  " *ngIf="isValidPic2;else other_content2">
              <div class="row">
                <div class="col-sm-7 '">
                  <div class="card card_track">
                    <div class="card-body">
                      <img src="../assets/Tracking_web/Image/official-documents.png">  
                    </div>
                  </div>
                  <br>
                  <div style=" margin-left: 20px ">
                  <h5><b>APPROVED</b></h5>
                  <p>{{this.DataRes[0].REVI_ANASEC_CONTROL_TIME}}</p>
                  </div>
                </div>
                <div class="col-sm-5 center'" style="padding-top:17px;">
                  <img src="../assets/Tracking_web/Image/substract_black.png">
                </div>
              </div>
            </div>
            <ng-template #other_content2>
              <div class="col-xl ">
                <div class="row">
                  <div class="col-sm-7 '">
                    <div class="card card_track2">
                      <div class="card-body">
                        <img src="../assets/Tracking_web/Image/official-documents.png">                    
                      </div>
                    </div>
                    <br>
                    <div style=" margin-left: 20px ">
                    <h5><b>APPROVED</b></h5>
                    <p>{{this.DataRes[0].REVI_ANASEC_CONTROL_TIME}}</p>
                    </div>
                  </div>
                  <div class="col-sm-5 center'" style="padding-top:17px;">
                    <img src="../assets/Tracking_web/Image/substract_color.png">
                  </div>
                </div>
              </div>
            </ng-template>
            <!-- Step3 -->
            <div class="col-xl  " *ngIf="isValidPic3;else other_content3">
              <div class="row">
                <div class="col-sm-7 '">
                  <div class="card card_track">
                    <div class="card-body">
                      <img src="../assets/Tracking_web/Image/list.png">  
                    </div>
                  </div>
                  <br>
                  <div style=" margin-left: 10px ">
                  <h5><b>ESTIMATE STEP</b></h5>
                  <p>{{this.DataRes[0].ESTI_STEP_TIME}}</p>
                  </div>
                </div>
                <div class="col-sm-5 center'" style="padding-top:17px;">
                  <img src="../assets/Tracking_web/Image/substract_black.png">
                </div>
              </div>
            </div>
            <ng-template #other_content3>
              <div class="col-xl ">
                <div class="row">
                  <div class="col-sm-7 '">
                    <div class="card card_track2">
                      <div class="card-body">
                        <img src="../assets/Tracking_web/Image/list.png">                    
                      </div>
                    </div>
                    <br>
                    <div style=" margin-left: 10px ">
                    <h5><b>ESTIMATE STEP</b></h5>
                    <p>{{this.DataRes[0].ESTI_STEP_TIME}}</p>
                    </div>
                  </div>
                  <div class="col-sm-5 center'" style="padding-top:17px;">
                    <img src="../assets/Tracking_web/Image/substract_color.png">
                  </div>
                </div>
              </div>
            </ng-template>
            <!-- Step 4 -->
            <div class="col-xl  " *ngIf="isValidPic4;else other_content4">
              <div class="row">
                <div class="col-sm-7 '">
                  <div class="card card_track">
                    <div class="card-body">
                      <img src="../assets/Tracking_web/Image/budget.png">  
                    </div>
                  </div>
                  <br>
                  <div style=" margin-left: 7px ">
                  <h5><b>ESTIMATE COST</b></h5>
                  <p>{{this.DataRes[0].ESTI_COST_TIME}}</p>
                  </div>
                </div>
                <div class="col-sm-5 center'" style="padding-top:17px;">
                  <img src="../assets/Tracking_web/Image/substract_black.png">
                </div>
              </div>
            </div>
            <ng-template #other_content4>
              <div class="col-xl ">
                <div class="row">
                  <div class="col-sm-7 '">
                    <div class="card card_track2">
                      <div class="card-body">
                        <img src="../assets/Tracking_web/Image/budget.png">                    
                      </div>
                    </div>
                    <br>
                    <div style=" margin-left: 7px ">
                    <h5><b>ESTIMATE COST</b></h5>
                    <p>{{this.DataRes[0].ESTI_COST_TIME}}</p>
                    </div>
                  </div>
                  <div class="col-sm-5 center'" style="padding-top:17px;">
                    <img src="../assets/Tracking_web/Image/substract_color.png">
                  </div>
                </div>
              </div>
            </ng-template>
            <!-- Step5 -->
            <div class="col-xl  " *ngIf="isValidPic5;else other_content5">
              <div class="row">
                <div class="col-sm-7 '">
                  <div class="card card_track">
                    <div class="card-body">
                      <img src="../assets/Tracking_web/Image/analysis.png">  
                    </div>
                  </div>
                  <br>
                  <div style=" margin-left: 10px ">
                  <h5><b>ISSUE REPORT</b></h5>
                  <p>{{this.DataRes[0].REVI_ANASEC_ANAL_TIME}}</p>
                  </div>
                </div>
                
              </div>
            </div>
            <ng-template #other_content5>
              <div class="col-xl ">
                <div class="row">
                  <div class="col-sm-7 '">
                    <div class="card card_track2">
                      <div class="card-body">
                        <img src="../assets/Tracking_web/Image/analysis.png">                    
                      </div>
                    </div>
                    <br>
                    <div style=" margin-left: 10px ">
                    <h5><b>ISSUE REPORT</b></h5>
                    <p>{{this.DataRes[0].REVI_ANASEC_ANAL_TIME}}</p>
                    </div>
                  </div>
                  
                </div>
              </div>
            </ng-template>
        </div>   
     </div>


    <mat-card class="card1" style="margin-top: 10px;">
      <mat-card-title-group>
        <mat-card-title>Analytical information</mat-card-title>
      </mat-card-title-group>
      <mat-card-content style="padding:10px;">
        <div class="row">
          <div class="col-sm-7">
            <div class="row">
              <div class="col-sm-1"><b>Title:</b></div>
              <div class="col-sm-11">{{this.DataRes[0].TITLE}}</div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-3"><b>Analysis type:</b></div>
              <div class="col-sm-9">{{this.DataRes[0].ANA_TYPE}}</div>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="row">
              <div class="col-sm-2"><b>Requester:</b></div>
              <div class="col-sm-10">{{requester[0]}}</div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-3"><b>Department:</b></div>
              <div class="col-sm-9">{{this.DataRes[0].DEP_MENT}}</div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <div class="container Tablesize">
      <table class="table tablestyle border ">
        <thead>
          <tr>
            <th class="Titlereview" width="100px">Step</th>
            <th class="Titlereview" width="200px">Technique</th>
            <th class="Titlereview" width="100px">Quantity</th>
            <th class="Titlereview" width="200px">Plan time</th>
            <th class="Titlereview" width="300px">Status</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="Titlereview">0</th>
            <td class="Titlereview">Pending approved</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-1">
  </div>
</div>
</ng-template>
