.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .card1 {
    max-width: 1100px;
    margin-top: 8px;
    margin: auto;
    background-color:#FFFAF0;
  }
  .stepsize {
    padding :0 130px
  }
  .Tablesize {
      max-width: 1150px;
      padding-top: 30px;
  }
  .Titlereview {
    text-align: center;
}
img {
  height: 80px;
}