<div class="bg-image"></div>

<div class="bg-text">
    <div style="padding:20px;"class="border-bottom border-secondary">
        <div style="padding-bottom:10px ;" >
            <img src="../assets/Image/Logomurata.png">
        </div>
        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Employee code</mat-label>
                <input matInput placeholder="Ex. 91360">
            </mat-form-field>
        </form>
        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>password</mat-label>
                <input matInput >
            </mat-form-field>
        </form>
        <div class="center">
            <button mat-raised-button class="Buttoncom">Log in</button>
        </div>
    </div>
    <div style="padding-bottom:20px; padding-top: 15px;">
    <p>If you haven't account.Please sign in.</p>
    <div class="center">
        <button mat-raised-button class="Buttoncom">Log in</button>
    </div>
    </div> 
</div>