<div class="bg-image"></div>

<div class="bg-text">
    <div style="padding:20px;"class="border-bottom border-secondary">
        <div style="padding-bottom:10px ;" >
            <img src="../assets/Image/Logomurata.png">
        </div>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Employee code</mat-label>
                <input matInput placeholder="Ex. 91360"  [(ngModel)]="this.Employcode">
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" appearance="outline" >
                <mat-label>password</mat-label>
                <input type="password" matInput [(ngModel)]="this.Password" >
            </mat-form-field>

        <div class="center">
            <button mat-raised-button class="Buttoncom" (click)="login()">Log in</button>
        </div>
    </div>
    <div style="padding-bottom:20px; padding-top: 15px;">
    <p>If you haven't account.Please sign in.</p>
    <div class="center">
        <button mat-raised-button class="Buttoncom" (click)="Gosignup()">Sign up</button>
    </div>
    </div> 
</div>