.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.Buttoncom {
    background: #97c1a9 ;
}

.bg-image {
    background-image: url(../../assets/Tracking_web/Image/5313770.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text {

    background-color: rgb(0, 0, 0);
    /* Fallback color */

    //background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */

    background-color: #ffffff;
    /* Black w/opacity/see-through */



    //color: white;

    color: rgb(0, 0, 0);

    font-weight: bold;

    border: 1px solid #A9A9A9;

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    z-index: 2;

    width: auto;

    padding: 10px 100px;

    text-align: center;

    border-radius: 20px;

}
img {
    height: 50px;
  }
