.Toolbar{
    background-color: #F5F5F5;
  }
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.button3 {
    padding: 20px 0;
    background-color: #8fcaca;
}
.WText {
    color:#ffffff;
}
.card1{
    background-color: #8fcaca;
    height : 1000px;
}