<div class="form-group row ">
    <div class="col-sm-4 center"><label for="Title"><b>Send question to:</b></label></div>
    <div class="col-sm-8">
        <mat-form-field class="example-full-width " appearance="outline">
            <input type="text" placeholder="Pick one" aria-label="Name" matInput [formControl]="myControl"
              [matAutocomplete]="auto" [(ngModel)]="this.geterQution">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
    
</div>

<div class="form-group row" >
    <div class="col-sm-4" style="padding-top:60px; padding-left: 30px ;">
      <label for="Title"><b>CC question to:</b></label>
    </div>
    <div class="col-sm-8" style="padding-top: 10px;">
      <form class="example-form">
          <mat-form-field class="example-full-width " appearance="outline">
            <mat-label>Select Name</mat-label>
            <input type="text" placeholder="Pick one" aria-label="Name" matInput [formControl]="myControl2"
              [matAutocomplete]="auto2" [(ngModel)]="this.EMAIL_CC[this.countrow]">
            <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions2 | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
        <div >
          <button mat-button class="Buttonadd" (click)="addIN()">Confirm name</button>
        </div> 
        <tr  *ngFor="let item of this.EMAIL_CC let i = index" >
        <table>
          <tbody>
            <div class="row">
              <div class="col-sm-3">
                <div *ngIf="item != ''">
                  <td>
                    <button mat-mini-fab color="primary" class="button3" (click)="delete(i)" >
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
             </div>
            </div>
              <div class="col-sm-9">
            <td>{{item}}</td>
            <br>
          </div>
          
        </div>
            </tbody>
        </table>
      </tr>
    </div>
   
</div>

<div style="margin-top: 10px;"><b>Questioner:</b></div>
<div style="margin-top: 10px;"><b>Issue Date:</b></div> 
<h2 style="padding-top: 10px;">Question?</h2>
<textarea class="form-control" rows="3" id="Background" [(ngModel)]="this.Q_question"></textarea>
<br>
<div class="row center">
  <div class="col-sm-2"></div>
  <div class="col-sm-5">
    <button mat-flat-button mat-dialog-close class="button1 center" (click)="confirm()" >Attach question</button>
  </div>
  <div class="col-sm-4">
    <button mat-flat-button mat-dialog-close class="button1 center" (click)="goback()" >cancel</button>
  </div>
  <div class="col-sm-1"></div>
</div>
   
    

