
    <div class="row">
        <div class="col-sm-1">
        </div>

        <div class="col-sm-10" >
            <h1 style=" padding: 20px 100px; ">Question and Answer form</h1>
            <div class="row" style="margin-bottom:5px;">
                <div class="col-sm-2"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-3">
                    <h2>Request no.</h2>
                </div>

                <div class="col-sm-3">
                </div>
            </div>
            <mat-card class="card1" >
                <mat-card-title-group>
                    <mat-card-title>Information</mat-card-title>
                </mat-card-title-group>
                <mat-card-content>
                    <div class="form-group row ">
                        <div class="col-sm-2 center"><label for="Title"><b>Send question to:</b></label></div>
                        <div class="col-sm-3">
                            <mat-form-field class="example-full-width " appearance="outline">
                                <input type="text" placeholder="Pick one" aria-label="Name" matInput [formControl]="myControl"
                                  [matAutocomplete]="auto" [(ngModel)]="this.geterQution">
                                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                    {{option}}
                                  </mat-option>
                                </mat-autocomplete>
                              </mat-form-field>
                            </div>
                        <div class="col-sm-7"></div>
                    </div>
                    <div class="form-group row" style="margin-top: 10px;">
                        <div class="col-sm-2 center"><label for="Title"><b>CC question to:</b></label></div>
                        <div class="col-sm-3">
                            <mat-form-field class="example-full-width " appearance="outline">
                               
                                <input type="text" placeholder="Pick one" aria-label="Name" matInput [formControl]="myControl"
                                  [matAutocomplete]="auto" [(ngModel)]="this.CCgeterQution">
                                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                    {{option}}
                                  </mat-option>
                                </mat-autocomplete>
                              </mat-form-field>
                        </div>
                        <div class="col-sm-7"></div>
                        
                    </div>
                    <div class="form-group row" style="margin-top: 10px;">
                        <div class="col-sm-2 center"></div>
                        <div class="col-sm-3"><input type="Title" class="form-control" id="Title"></div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-4"></div>
                    </div>
                    <div class="form-group row" style="margin-top: 10px;">
                        <div class="col-sm-2 center"></div>
                        <div class="col-sm-3">
                            <div class="center">
                                <button mat-flat-button class="button1"> + Add Name</button>
                            </div>
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-4"></div>
                    </div>
                    <div style="margin-top: 10px;"><b>Questioner:</b></div>
                    <div style="margin-top: 10px;"><b>Issue Date:</b></div>
                </mat-card-content>
            </mat-card>
            
            <mat-card class="card1" style="margin-top: 10px;" >
                <mat-card-title-group>
                    <mat-card-title>Question ?</mat-card-title>
                </mat-card-title-group>
                <mat-card-content>                                          
                        <textarea class="form-control" rows="3" id="Background"></textarea>
                        <div class="center" style="padding: 15px 0;">
                            <button mat-flat-button class="button1" (click)="back()">Attach question</button>
                        </div>
                </mat-card-content>
            </mat-card>
                      
        </div>
        <div class="col-sm-1">
        </div>

    </div>