<div class="container-fluid">
    <div class="border-bottom">
      <div class="row">
        <div class="col-xl-1"></div>
        <div class="col-xl-8 center" style="margin-bottom:15px; margin-top:15px;">
          <button mat-button>Home</button>
          <button mat-button>Analysis request form</button>
          <button mat-button>Equipment Calendar</button>
          <button mat-button>Job tracking</button>
          <button mat-button>Search previous report</button>
        </div>
        <div class="col-xl-2 center ">
          <button mat-raised-button color="primary">Login</button>
          <button mat-raised-button color="primary" style="margin-left:10px;">Sign up</button>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-sm-1">
  
      </div>
  
      <div class="col-sm-10">
        <h1 style=" padding: 20px 100px; ">Request Form</h1>
        <div class="row" style="margin-bottom:15px;" >
          <div class="col-sm-2"></div>
          <div class="col-sm-2"></div>
          <div class="col-sm-2"></div>
          <div class="col-sm-3">
            <h2>Request no.</h2></div>
        
          <div class="col-sm-3">
            <div class="row ">
              <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                <mat-icon>create</mat-icon>
              </button>
              <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon" style="margin-left:20px;">
                <mat-icon>save</mat-icon>
              </button>
            </div>
            
          </div>
        </div>  
        <mat-card class="card1">
          <mat-card-title-group>
            <mat-card-title>Analysis request form</mat-card-title>
          </mat-card-title-group>
          <mat-card-content>
            <div class="row">
              <div class="col-sm-7">
                <div class="form-group input1">
                  <label for="Title"><b>Title:</b> </label>                 
                </div>
                <div class="form-group input1">
                  <label for="Background"><b>Background:</b></label>
                  
                </div>
                <div class="form-group input1">
                  <label for="Purpose"><b>Purpose:</b></label>
                  
                </div>
                <div class="form-group input1">
                  <label for="Hypothesis"><b>Hypothesis:</b></label>
                  
                </div>
                
                <div class="form-group input1">
                    <label for="Hypothesis"><b> Analysis type:</b></label>
                    
                  </div>
              
                  
                  
                
              </div>
              <div class="col-sm-5">
                <h4 style=" margin-top:30px "><b>Issue Date:</b> 1 April 2022</h4>
                <h4> <b>Requester: </b> Pichayapak </h4>
                <div class="row">
                  <div class=" col-sm-2">
                    <p class="centercolumn"><b>Phone:</b></p>
                  </div>
                </div>
                <h4> <b>Department: </b> </h4>
                <h4> <b>Product: </b> </h4>
                
  
                
                <mat-card class="cardAT">
                  
                </mat-card>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card class="card1">
          <mat-card-title-group>
            <mat-card-title>Request Analysis Techniques</mat-card-title>
          </mat-card-title-group>
          <mat-card-content>
            <h4> <b>VHX , X-ray , SEM  </b> </h4>
          </mat-card-content>
        </mat-card>

        <mat-card class="card1">
          <mat-card-title-group>
            <mat-card-title>Sample Information</mat-card-title>
          </mat-card-title-group>
          <mat-card-content>
            <div class="row">
              <div class="col-sm-3">
                <div class="form-group" style="margin-left: 10px; ">
                  <label for="Title"><b>Number of sample:</b></label>                 
                </div>
              </div>
              <div class="col-sm-4">
                <h4> <b>Send sample date: </b> </h4>
                <h4> <b>Piority: </b> </h4>              
              </div>
              <div class="col-sm-5">
                <h4> <b>Expected finish date: </b> </h4>
                <h4> <b>Reason: </b> </h4>                
              </div>
            </div>
  
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group input1">
                  <label for="Lotno"><b>Lot no.:</b></label>                 
                </div>               
              </div>
              <div class="col-sm-5">
                <div class="form-group input1">
                  <label for="Samplename"><b>Sample name:</b></label>                 
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group input1">
                  <label for="Remarks"><b>Remarks:</b></label>
                  
                </div>
              </div>
  
            </div>
          </mat-card-content>
        </mat-card>
  
        <mat-card class="card1">
          <mat-card-title-group>
            <mat-card-title>Comment & Description (elements, structure, size, condition, etc.)</mat-card-title>
          </mat-card-title-group>
          <mat-card-content>
            <div class="form-group input1">
            </div>
          </mat-card-content>
        </mat-card>
  
        <mat-card class="card1">
          <mat-card-title-group>
            <mat-card-title>Attention: Are dangerous or ESD substance included?</mat-card-title>
          </mat-card-title-group>
          <mat-card-content>
            <!-- Dangerous -->
            <div class=" col-sm-12 ">
              No
            </div>
            <!-- Sample after tested -->
            <div class=" col-sm-12">
              <label for="comment" class="font-weight-bold" style=" margin-right: 10px"> <b>Sample after tested:</b> Dispose sample</label>

            </div>
  
          </mat-card-content>
        </mat-card>
        <mat-card class="card1">
          <mat-card-title-group>
            <mat-card-title>Related matters</mat-card-title>
          </mat-card-title-group>
          <mat-card-content>
  
            <div class="row">
              <div class="col-sm-3"><button mat-raised-button color="primary">Relate with all request</button></div>
              <div class="col-sm-3"><button mat-raised-button color="primary">Relate with your department request</button>
              </div>
              <div class="col-sm-3"></div>
              <div class="col-sm-3"></div>
            </div>
  
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Issued By</th>
                  <th>Issued Date</th>
                  <th>Form</th>
                  <th>Select</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Improvement PAC 1</td>
                  <td>Pichayapak</td>
                  <td>1 Jan 2021</td>
                  <td>O</td>
                  <td></td>
                </tr>   
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
  
        <mat-card class="card1">
          <mat-card-title-group>
            <mat-card-title>Keywords for searching</mat-card-title>
          </mat-card-title-group>
          <mat-card-content>
            <div class="row" style=" margin-left: 10px; margin-right: 10px;">
              <div class="col-sm-4">
                <h4> <b>Characteristic: </b> </h4>
                
              </div>
              <div class="col-sm-4">
                <h4> <b>State: </b> </h4>
              </div>
              <div class="col-sm-4">
                <h4> <b>Phenomena: </b> </h4>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card class="card1">
          <mat-card-title-group>
            <mat-card-title>Question and Answer form</mat-card-title>
          </mat-card-title-group>
          <mat-card-content>
            <div class=" container-fluid " style=" background-color: #ffebcd; ">
              <button mat-flat-button class="Buttonaddquetion"> + Add question </button>
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card class="card1">
            <mat-card-title-group>
              <mat-card-title>Label of Samples</mat-card-title>
            </mat-card-title-group>
            <mat-card-content>
              <p>*Please print the label before send sample to Q30 section</p>
              <div class=" container-fluid " style=" background-color: #ffebcd; ">
                <button mat-flat-button class="Buttonaddquetion"> Print Label 
                    <mat-icon>print</mat-icon>
                </button>
                
              </div>
            </mat-card-content>
          </mat-card>
  
        <mat-card class="card1">
          <mat-card-title-group>
            <mat-card-title>Review Information</mat-card-title>
          </mat-card-title-group>
          <mat-card-content>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="Titlereview">Task</th>
                  <th class="Titlereview">Process</th>
                  <th class="Titlereview">Name</th>
                  <th class="Titlereview">Processing date&time</th>
                  <th class="Titlereview">Comment</th>
                  <th class="Titlereview">cc</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Pending request</td>
                  <td>Issuer</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>Confirm</td>
                  <td></td>
                  <td></td>
                  <td><textarea rows="2" id="Background" class="border-light" ></textarea></td>
                  <td><input type="NameIssuer" id="NameIssuer" class="inputreview border-light" ></td>
                </tr>
                <tr>
                  <td>Analysis section</td>
                  <td>Controller</td>
                  <td><input type="NameIssuer" id="NameIssuer" class="inputreview border-light" ></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>Analyst</td>
                  <td><input type="NameIssuer" id="NameIssuer" class="inputreview border-light" ></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Report approval</td>
                  <td>Check</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>Confirm</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>Report approval</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>CS Evaluation</td>
                  <td>Issuer</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Completed</td>
                  <td>Close</td>
                  <td></td>    
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
        
      </div>
  
  
      <div class="col-sm-1">
  
      </div>
    </div>
  </div>
