<div class="container-fluid p-5 bg-danger text-white">
    <h1 class="text-center">Q30 Section</h1>
</div>

<div class = "container">
  <nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Request form</a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link" href="#">Equpment Calendar</a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link" href="#">Tracking Status</a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link" href="#">Serching</a>
      </li>
  
    </ul>
  </nav>
</div><app-request-home></app-request-home>
