
<router-outlet></router-outlet>



<!-- <div class="container-fluid p-5 bg-danger text-white">
    <h1 class="text-center">Q30 Section</h1>
</div> -->

<!-- <div class="row">
<div class = " col-sm-2"></div>
<div class = "col-sm-8">

  <header class="p-1 mb-1 border-bottom">
    <div >
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Analysis request form</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Equpment Calendar</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Job tracking</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Search previous report</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
      </div>
    </div>
  </header>
</div>
<div class = " col-sm-2"></div>
</div>

<div>
  <app-requestformfill></app-requestformfill>
</div> -->