<div *ngIf="this.loading; else elseBlock" class="spinner-border text-primary" role="status">
  <span class="sr-only"></span>
</div>

<ng-template #elseBlock>
  <div class="border-bottom Toolbar">
    <div class="row">
      <div class="col-xl-1"></div>
      <div class="col-xl-7 center" style="padding :15px 0 ;">
        <button mat-button>Home</button>
        <button mat-button (click)="Goanalysishome()">Analysis request form</button>
        <button mat-button>Equipment Calendar</button>
        <button mat-button>Job tracking</button>
        <button mat-button>Search previous report</button>
      </div>

      <div class="col-xl-4 center " *ngIf="isValid;else other_content">
        <div class="row">
          <div class="col-xl-8">
            {{this.nameonly}}
            ({{this.Codelocal}})
            {{this.departmentlocal}}
          </div>
          <div class="col-xl-4">
            <button mat-raised-button color="primary" (click)="Logout()">Log out</button>
          </div>
        </div>
      </div>

      <ng-template #other_content>
        <div class="col-xl-4 center ">
          <button mat-raised-button color="primary" (click)="Gologin()">Login</button>
          <button mat-raised-button color="primary" style="margin-left:10px;" (click)="GoSignup()">Sign up</button>
        </div>
      </ng-template>
    </div>
  </div>
  
  <div style=" padding-top: 60px;" class=" font1 center mat-display-3">Booking Equipment</div>
      <div style="padding-left:260px ;">
        <mat-form-field appearance="outline">
          <mat-label>Equipment</mat-label>
          <mat-select [(ngModel)]="this.equip"  (ngModelChange)="onChange($event)" name="sel2" >
            <mat-option *ngFor="let item of this.sample2 let i = index" value={{item.equip}}>
              {{item.equip}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="container" style="padding-top: 10px; padding-bottom:20px; padding-right: 120px;">
        <div class="navigator">
          <daypilot-navigator [config]="configNavigator" [events]="events" [(date)]="date" (dateChange)="changeDate($event)" #navigator></daypilot-navigator>
        </div>
        <div class="content">
          <div class="buttons">
          <button class="button2" (click)="viewDay()" [class]="this.configNavigator.selectMode == 'Day' ? 'selected' : ''">Day</button>
          <button class="button2" (click)="viewWeek()" [class]="this.configNavigator.selectMode == 'Week' ? 'selected' : ''">Week</button>
          <button class="button2" (click)="viewMonth()" [class]="this.configNavigator.selectMode == 'Month' ? 'selected' : ''">Month</button>
          </div>
      
          <daypilot-calendar [config]="configDay" [events]="events" #day></daypilot-calendar>
          <daypilot-calendar [config]="configWeek" [events]="events" #week></daypilot-calendar>
          <daypilot-month [config]="configMonth" [events]="events" #month></daypilot-month>
        </div>
      
      </div>

  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <mat-card class="card1">
        <mat-card-title-group>
          <mat-card-title>Analytical information</mat-card-title>
        </mat-card-title-group>
        <mat-card-content style="padding: 20px 50px">
          <div class="row">
            <div class="col-sm-3">
              <div class="input1">
                <div class="row">
                  <div class="col-sm-6 "><b>Department:</b></div>
                  <div class="col-sm-6 ">{{this.DataRes[0].DEP_MENT}}</div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="input1">
                <div class="row">
                  <div class="col-sm-2 "><b>Title:</b></div>
                  <div class="col-sm-10 ">{{this.DataRes[0].TITLE}}</div>
                </div>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="input1">
                <div class="row">
                  <div class="col-sm-4 "><b>Analyzer name:</b></div>
                  <div class="col-sm-8 ">{{this.analyzer[0]}}</div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <!-- <select (change)="onChange($event.target.value)">
    <option *ngFor="let i of devices">{{i}}</option>
</select> -->
          <div class="row">
            <div class="col-sm-3">
              <mat-form-field appearance="outline">
                <mat-label>Step*</mat-label>
                <mat-select [(ngModel)]="this.step1"  (ngModelChange)="onChange($event)" name="sel2" >
                  <mat-option *ngFor="let item of this.sample2 let i = index" value={{item.equip}}>
                    Step{{i+1}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <div class="row" style="padding-top: 15px ;">
                <div class="col-sm-1"><b>Equipment:</b></div>
                <div class="col-sm-11">{{this.step1}}</div>
              </div>
            </div>
            <div class="col-sm-6" >
              <div class="input1">
                <div class="row">
                  <div class="col-sm-4" style="padding-top:15px"><b>Number of Sample:</b></div>
                  <div class="col-sm-8 input2">
                    <input type="text" id="disabledTextInput" class="form-control" [(ngModel)]="this.Numsample">
                  </div>
                </div>
              </div>
            </div>
          </div>
   
          <div class="row">
            <div class="col-sm-4">
              <div class="input1">
                <mat-form-field color="accent" appearance="outline">
                  <mat-label>Start date</mat-label>
                  <input matInput [matDatepicker]="picker1" [(ngModel)]="this.startdate">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="input1">
                <div class="row " style="padding-top: 15px ;">
                  <div class="col-sm-2"><b>Time:</b></div>
                  <div class="col-sm-10">
                    <div class="row">
                      <div class="col-sm-5">
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="this.startT1">
                          <option selected>hours</option>
                          <option value="01">01</option>
                          <option value="02">02</option>
                          <option value="03">03</option>
                          <option value="04">04</option>
                          <option value="05">05</option>
                          <option value="06">06</option>
                          <option value="07">07</option>
                          <option value="08">08</option>
                          <option value="09">09</option>
                          <option value="10">10</option>
                          <option value="11">11</option>
                          <option value="12">12</option>
                          <option value="13">13</option>
                          <option value="14">14</option>
                          <option value="15">15</option>
                          <option value="16">16</option>
                          <option value="17">17</option>
                          <option value="18">18</option>
                          <option value="19">19</option>
                          <option value="20">20</option>
                          <option value="21">21</option>
                          <option value="22">22</option>
                          <option value="23">23</option>
                          <option value="24">24</option>
                        </select>
                      </div>
                      <div class="col-sm-2"><p>:</p></div>
                      <div class="col-sm-5">
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="this.startT2">
                          <option selected>min</option>
                          <option value="00">00</option>
                          <option value="05">05</option>
                          <option value="10">10</option>
                          <option value="15">15</option>
                          <option value="20">20</option>
                          <option value="25">25</option>
                          <option value="30">30</option>
                          <option value="35">35</option>
                          <option value="40">40</option>
                          <option value="45">45</option>
                          <option value="50">50</option>
                          <option value="55">55</option> 
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="input1">
                <div class="row" style="padding-top: 15px ;">
                
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="input1">
                <mat-form-field color="accent" appearance="outline">
                  <mat-label>End date</mat-label>
                  <input matInput [matDatepicker]="picker2" [(ngModel)]="this.enddate">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="input1">
                <div class="row" style="padding-top: 15px" >
                  <div class="col-sm-2"><b>Time:</b></div>
                  <div class="col-sm-10">
                   
                    <div class="row">
                      <div class="col-sm-5">
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="this.endT1">
                          <option selected>hours</option>
                          <option value="01">01</option>
                          <option value="02">02</option>
                          <option value="03">03</option>
                          <option value="04">04</option>
                          <option value="05">05</option>
                          <option value="06">06</option>
                          <option value="07">07</option>
                          <option value="08">08</option>
                          <option value="09">09</option>
                          <option value="10">10</option>
                          <option value="11">11</option>
                          <option value="12">12</option>
                          <option value="13">13</option>
                          <option value="14">14</option>
                          <option value="15">15</option>
                          <option value="16">16</option>
                          <option value="17">17</option>
                          <option value="18">18</option>
                          <option value="19">19</option>
                          <option value="20">20</option>
                          <option value="21">21</option>
                          <option value="22">22</option>
                          <option value="23">23</option>
                          <option value="24">24</option>
                        </select>
                      </div>
                      <div class="col-sm-2"><p>:</p></div>
                      <div class="col-sm-5">
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="this.endT2">
                          <option selected>min</option>
                          <option value="00">00</option>
                          <option value="05">05</option>
                          <option value="10">10</option>
                          <option value="15">15</option>
                          <option value="20">20</option>
                          <option value="25">25</option>
                          <option value="30">30</option>
                          <option value="35">35</option>
                          <option value="40">40</option>
                          <option value="45">45</option>
                          <option value="50">50</option>
                          <option value="55">55</option> 
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="input1">
                <div class="row">   
                  <form class="example-form">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Operation by</mat-label>
                      <input type="text" placeholder="Pick one" aria-label="Name" matInput [formControl]="myControl"
                        [matAutocomplete]="auto" [(ngModel)]="this.operator">
                      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                          {{option}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </form>             
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="center">
            <button mat-raised-button color="primary" (click)="confirm()" >Issue step</button>
          </div>
        </mat-card-content>
      </mat-card>
<br>
      <table class="table table-bordered Titlereview">
        <thead>
          <tr>
            <th width="50px" class=" Titlereview">No. step</th>
            <th width="100px">Equipment</th>
            <th width="50px">Number Sample</th>
            <th width="100px" >startdate and time</th>
            <th width="100px" >Enddate and time</th>
            <th width="100px" >Operation by</th>
            <th width="100px" >Edit by</th>
            <th width="30px"></th>
            <th width="30px"></th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let item of DataResreq let i = index" >   
            <!-- <div *ngIf="item.REQ_NUM == this.DataRes[0].REQ_NUM">  -->
            <td width="50px">{{item.STEP_BOOKING}} </td>   
            <td width="100px">{{item.EQUIPMENT}}</td>
            <td width="50px">{{item.SAMPLE_NUM}}</td>
            <td width="100px">{{item.DATE_BOOKING_START}},{{item.TIME_BOOKING_START}}</td>
            <td width="100px">{{item.DATE_BOOKING_END}},{{item.TIME_BOOKING_END}}</td>
            <td width="100px">{{item.OPERATER}}</td>
            <td width="100px">{{item.EDITER}}</td>
            <td  width="30px">
              <button mat-mini-fab color="primary" (click)="onOpenDialogClick(item.ID_BOOKING)">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
            <td  width="30px">
              <button mat-mini-fab color="warn" (click)="Delete(item.ID_BOOKING)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
     
    </div>
    <div class="col-sm-1"></div>
  </div>
</ng-template>