

<div class="container-fluid">
    <div class="border-bottom">
        <div class="row">
            <div class="col-xl-1"></div>
            <div class="col-xl-8 center" style="padding : 15px 0 ;">
                <button mat-button>Home</button>
                <button mat-button>Analysis request form</button>
                <button mat-button>Equipment Calendar</button>
                <button mat-button>Job tracking</button>
                <button mat-button>Search previous report</button>
            </div>
            <div class="col-xl-2 center ">
                <button mat-raised-button color="primary">Login</button>
                <button mat-raised-button color="primary" style="margin-left:10px;">Sign up</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-1">
        </div>

        <div class="col-sm-10">
            
            
            <!-- Tech step card -->
            <mat-card class="card1" style="margin-top: 10px;">
                <mat-card-title-group>
                    <mat-card-title>Analysis technique steps</mat-card-title>
                </mat-card-title-group>
                <mat-card-content>
                    <div style="margin-left:10px">
                        <div class="row">
                            <div class="col-sm-1" style="padding:20px 0;"><b>Step 1</b></div>
                            <div class="col-sm-2">
                                <mat-form-field appearance="outline">
                                    <mat-label>Techniques</mat-label>
                                    <mat-select>
                                        <mat-option value="X-ray 2D">X-ray 2D</mat-option>
                                        <mat-option value="X-ray 3D">X-ray 3D</mat-option>
                                        <mat-option value="SEM-Microscope">SEM-Microscope</mat-option>
                                        <mat-option value="Cross section">Cross section</mat-option>
                                        <mat-option value="Ion-milling">Ion-milling</mat-option>
                                        <mat-option value="VHX">VHX</mat-option>
                                        <mat-option value="Metallurgical">Metallurgical</mat-option>
                                        <mat-option value="SEM-EDX">SEM-EDX</mat-option>
                                        <mat-option value="SEM-Mapping">SEM-Mapping</mat-option>
                                        <mat-option value="EDXRF">EDXRF</mat-option>
                                        <mat-option value="ICP">ICP</mat-option>
                                        <mat-option value="CS Analyzer">CS Analyzer</mat-option>
                                        <mat-option value="FTIR">FTIR</mat-option>
                                        <mat-option value="GCMS">GCMS</mat-option>
                                        <mat-option value="DSC">DSC</mat-option>
                                        <mat-option value="TG-DTA">TG-DTA</mat-option>
                                        <mat-option value="Solderwet">Solderwet</mat-option>
                                        <mat-option value="Dust monitering">Dust monitering</mat-option>
                                        <mat-option value="Micro-probe">Micro-probe</mat-option>
                                        <mat-option value="Other">Other</mat-option> 
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-2" style="padding:20px 0;"><b>Sample number :</b></div>
                            <div class="col-sm-2">
                                <div class="form-group input1 ">
                                    <input type="Title" class="form-control" id="Title">
                                </div>
                            </div>
                            <div class="col-sm-4"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1" style="padding:20px 0;"><b>Step 2</b></div>
                            <div class="col-sm-2">
                                <mat-form-field appearance="outline">
                                    <mat-label>Techniques</mat-label>
                                    <mat-select>
                                        <mat-option value="X-ray 2D">X-ray 2D</mat-option>
                                        <mat-option value="X-ray 3D">X-ray 3D</mat-option>
                                        <mat-option value="SEM-Microscope">SEM-Microscope</mat-option>
                                        <mat-option value="Cross section">Cross section</mat-option>
                                        <mat-option value="Ion-milling">Ion-milling</mat-option>
                                        <mat-option value="VHX">VHX</mat-option>
                                        <mat-option value="Metallurgical">Metallurgical</mat-option>
                                        <mat-option value="SEM-EDX">SEM-EDX</mat-option>
                                        <mat-option value="SEM-Mapping">SEM-Mapping</mat-option>
                                        <mat-option value="EDXRF">EDXRF</mat-option>
                                        <mat-option value="ICP">ICP</mat-option>
                                        <mat-option value="CS Analyzer">CS Analyzer</mat-option>
                                        <mat-option value="FTIR">FTIR</mat-option>
                                        <mat-option value="GCMS">GCMS</mat-option>
                                        <mat-option value="DSC">DSC</mat-option>
                                        <mat-option value="TG-DTA">TG-DTA</mat-option>
                                        <mat-option value="Solderwet">Solderwet</mat-option>
                                        <mat-option value="Dust monitering">Dust monitering</mat-option>
                                        <mat-option value="Micro-probe">Micro-probe</mat-option>
                                        <mat-option value="Other">Other</mat-option> 
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-2" style="padding:20px 0;"><b>Sample number :</b></div>
                            <div class="col-sm-2">
                                <div class="form-group input1 ">
                                    <input type="Title" class="form-control" id="Title">
                                </div>
                            </div>
                            <div class="col-sm-4"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1" style="padding:20px 0;"><b>Step 3</b></div>
                            <div class="col-sm-2">
                                <mat-form-field appearance="outline">
                                    <mat-label>Techniques</mat-label>
                                    <mat-select>
                                        <mat-option value="X-ray 2D">X-ray 2D</mat-option>
                                        <mat-option value="X-ray 3D">X-ray 3D</mat-option>
                                        <mat-option value="SEM-Microscope">SEM-Microscope</mat-option>
                                        <mat-option value="Cross section">Cross section</mat-option>
                                        <mat-option value="Ion-milling">Ion-milling</mat-option>
                                        <mat-option value="VHX">VHX</mat-option>
                                        <mat-option value="Metallurgical">Metallurgical</mat-option>
                                        <mat-option value="SEM-EDX">SEM-EDX</mat-option>
                                        <mat-option value="SEM-Mapping">SEM-Mapping</mat-option>
                                        <mat-option value="EDXRF">EDXRF</mat-option>
                                        <mat-option value="ICP">ICP</mat-option>
                                        <mat-option value="CS Analyzer">CS Analyzer</mat-option>
                                        <mat-option value="FTIR">FTIR</mat-option>
                                        <mat-option value="GCMS">GCMS</mat-option>
                                        <mat-option value="DSC">DSC</mat-option>
                                        <mat-option value="TG-DTA">TG-DTA</mat-option>
                                        <mat-option value="Solderwet">Solderwet</mat-option>
                                        <mat-option value="Dust monitering">Dust monitering</mat-option>
                                        <mat-option value="Micro-probe">Micro-probe</mat-option>
                                        <mat-option value="Other">Other</mat-option> 
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-2" style="padding:20px 0;"><b>Sample number :</b></div>
                            <div class="col-sm-2">
                                <div class="form-group input1 ">
                                    <input type="Title" class="form-control" id="Title">
                                </div>
                            </div>
                            <div class="col-sm-4"></div>
                        </div>

                        <div class="row">
                            <div class="col-sm-1" ></div>
                            <div class="col-sm-2">
                                <div class="center">
                                    <button mat-flat-button class="button1"> + Add Step</button>
                                </div>
                            </div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-2" ></div>
                            <div class="col-sm-2"></div>
                            <div class="col-sm-4"></div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <div class="center">
                <button mat-raised-button color="primary" class="button2">Issue</button>
            </div>

            <!-- Estimate cost card -->
            <mat-card class="card1" style="margin-top: 10px;">
                <mat-card-title-group>
                    <mat-card-title>Estimate cost</mat-card-title>
                </mat-card-title-group>
                <mat-card-content>
                    <table class="table table-bordered Titlereview ">
                        <thead >
                          <tr>
                            <th >Step</th>
                            <th >Technique</th>
                            <th >Quantity</th>
                            <th >Technique cost/1pc.</th>
                            <th >Estimate cost</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>Step 1</th>
                            <td>VHX</td>
                            <td>5 pcs</td>
                            <td>200 Baht/pc</td>
                            <td>1000 Baht</td>
                          </tr>
                          <tr>
                            <th>Step2</th>
                            <td>X-ray3D</td>
                            <td>5 pcs</td>
                            <td>500 Baht/pc</td>
                            <td>2500 Bath</td>
                          </tr>
                          <tr>
                            <th>Step3</th>
                            <td>SEM</td>
                            <td>5 pcs</td>
                            <td>600 Baht/pc</td>
                            <td>3000 Bat</td>
                          </tr>
                          <tr>
                            <th>Total</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>65XX Bath</td>
                          </tr> 
                        </tbody>
                      </table>
                      <div class="row center"  >
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3 center"><button mat-raised-button color="primary" class="button2">Accept</button></div>
                        <div class="col-sm-3 center"><button mat-raised-button color="primary" class="button2" >Decline</button></div>
                        <div class="col-sm-3"></div>
                      </div>
                </mat-card-content>
            </mat-card>

            <div class="solution">
                <mat-horizontal-stepper #stepper>
                  <mat-step>
                    Step 1
                  </mat-step>
                  <mat-step>
                    Step 2
                  </mat-step>
                  <mat-step>
                    Step 3
                  </mat-step>
                  <!-- one option -->
                  
                </mat-horizontal-stepper>
                
                <!-- second option -->
                <div>
                  <button (click)="goBack(stepper)" type="button" >Back</button>
                  <button (click)="goForward(stepper)" type="button" >Next</button>
                
                  <!-- using totalStepsCount -->
                  <!-- <button (click)="goForward(stepper)" type="button" [disabled]="stepper.selectedIndex === totalStepsCount-1">Next</button> -->
                </div>
                <!--------------------------------------------------------------------------------------->
                
                </div>

        </div>
        <div class="col-sm-1">
        </div>

    </div>
