<div class="border-bottom Toolbar">
  <div class="row">
    <div class="col-xl-1"></div>
    <div class="col-xl-7 center" style="padding :15px 0 ;">
      <button mat-button>Home</button>
      <button mat-button (click)="Goanalysishome()">Analysis request form</button>
      <button mat-button>Equipment Calendar</button>
      <button mat-button>Job tracking</button>
      <button mat-button>Search previous report</button>
    </div>

    <div class="col-xl-4 center " *ngIf="isValid;else other_content">
      <div class="row">
        <div class="col-xl-8">
          {{this.nameonly}}
          ({{this.Codelocal}})
          {{this.departmentlocal}}
        </div>
        <div class="col-xl-4">
          <button mat-raised-button color="primary" (click)="Logout()">Log out</button>
        </div>
      </div>
    </div>

    <ng-template #other_content>
      <div class="col-xl-4 center ">
        <button mat-raised-button color="primary" (click)="Gologin()">Login</button>
        <button mat-raised-button color="primary" style="margin-left:10px;" (click)="GoSignup()">Sign up</button>
      </div>
    </ng-template>
  </div>
</div>