.example-spacer {
    flex: 1 1 auto;
  }
.buttom1 {
    margin-left: 15px;
}
.ButtonaddLot{
    background: rgb(255, 185, 185);
    margin-left: 70px;
}
.Buttonaddsam{
    background: rgb(255, 185, 185);
    margin-left: 110px;
}
.Buttonaddquetion {
    background: #ffebcd ;
    padding: 0 320px;
}
.card1 {
    max-width: 900px;
    margin-bottom: 8px;
    margin: auto;
    background-color:#FFFAF0;
  } 
.input1 {
    padding: 5px;
}

.input2 {
    padding: 5px;
    max-width: 150px;
}
.inputNumSam{
    max-width: 180px;
}
.inputreview {
    max-width: 130px;
}
.centercolumn {
    padding: 12px 0;
  }
.cardAT {
    text-align: center;
    background: rgb(255, 185, 185);
}
.mat-card{
    margin-bottom:20px ;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
.Titlereview {
    text-align: center;
}