<div class="bg-image"></div>

<div class="bg-text">
  <div style="padding:20px;">
  <h1><b>Create an account</b></h1>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Enter employee code</mat-label>
      <input matInput placeholder="Ex. 91360">
    </mat-form-field>
  </form>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Ex. Pichayapak">
    </mat-form-field>
  </form>
  <mat-form-field appearance="outline">
    <mat-label>Department</mat-label>
    <mat-select>
      <mat-option value="MT100">MT100</mat-option>
      <mat-option value="MT300">MT300</mat-option>
      <mat-option value="MT400">MT400</mat-option>
      <mat-option value="MT500">MT500</mat-option>
      <mat-option value="MT600">MT600</mat-option>
      <mat-option value="MT700">MT700</mat-option>
      <mat-option value="MT800">MT800</mat-option>
      <mat-option value="MT900">MT900</mat-option>
      <mat-option value="SGA">SGA</mat-option>
    </mat-select>
  </mat-form-field>

  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput>
    </mat-form-field>
  </form>
  <div class="center">
    <button mat-raised-button class="Buttoncom">Complete</button>
  </div>
</div>
</div>