<div class="bg-image"></div>

<div class="bg-text">
  <div style="padding:20px;">
  <h1><b>Create an account</b></h1>
  <mat-form-field appearance="fill">
    <mat-label>Enter employee code</mat-label>
    <input matInput placeholder="Ex. 91360" [(ngModel)]="this.Employeecode">
    <mat-hint><p style="color: #c9baba ;">ex. 91360</p></mat-hint>
  </mat-form-field>
  <br>
  <form class="example-form">
    <mat-form-field class="example-full-width " appearance="outline">
      <mat-label>Name and Email</mat-label>
      <input type="text" placeholder="Pick one" aria-label="Name" matInput [formControl]="myControl"
        [matAutocomplete]="auto" [(ngModel)]="this.Name" >
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
      <mat-hint><p style="color: #c9baba ;">Please click in drop-down list</p></mat-hint>
    </mat-form-field>
  </form>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Department</mat-label>
    <mat-select [(ngModel)]="this.Department">
      <mat-option value="MT100">MT100</mat-option>
      <mat-option value="MT300">MT300</mat-option>
      <mat-option value="MT400">MT400</mat-option>
      <mat-option value="MT500">MT500</mat-option>
      <mat-option value="MT600">MT600</mat-option>
      <mat-option value="MT6A0">MT6A0</mat-option>
      <mat-option value="MT700">MT700</mat-option>
      <mat-option value="MT800">MT800</mat-option>
      <mat-option value="MT900">MT900</mat-option>
      <mat-option value="MT9A0">MT9A0</mat-option>
      <mat-option value="MT700">MTA00</mat-option>
      <mat-option value="MTB00">MTB00</mat-option>
      <mat-option value="MTE00">MTE00</mat-option>
      <mat-option value="MTF00">MTF00</mat-option>
      <mat-option value="MTM00">MTM00</mat-option>
      <mat-option value="MTQ00">MTQ00</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput placeholder="Ex. 91360" [(ngModel)]="this.Password">
  </mat-form-field>

  <div class="center">
    <button mat-raised-button class="Buttoncom" (click)="display()">Complete</button>
  </div>
</div>
</div>