
      <h1><b>Edit booking</b></h1>

    <div style="padding: 20px 50px">

      <div class="row">
        <div class="col-sm-3">
          <p><b>{{this.Dataeditbook[0].STEP_BOOKING}}</b></p>
        </div>
        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-2"><b>Equipment:</b></div>
            <div class="col-sm-10">
                <p>{{this.Dataeditbook[0].EQUIPMENT}}</p>
            </div>
          </div>
        </div>
        
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="input1">
            <mat-form-field color="accent" appearance="outline">
              <mat-label>Start date</mat-label>
              <input matInput [matDatepicker]="picker1" [(ngModel)]="this.startdate1">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="input1">
            <div class="row " style="padding-top: 15px ;">
              <div class="col-sm-2"><b>Time:</b></div>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-5">
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="this.startT1">
                      <option selected>hours</option>
                      <option value="01">01</option>
                      <option value="02">02</option>
                      <option value="03">03</option>
                      <option value="04">04</option>
                      <option value="05">05</option>
                      <option value="06">06</option>
                      <option value="07">07</option>
                      <option value="08">08</option>
                      <option value="09">09</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                      <option value="24">24</option>
                    </select>
                  </div>
                  <div class="col-sm-2"><p>:</p></div>
                  <div class="col-sm-5">
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="this.startT2">
                      <option selected>min</option>
                      <option value="00">00</option>
                      <option value="05">05</option>
                      <option value="10">10</option>
                      <option value="15">15</option>
                      <option value="20">20</option>
                      <option value="25">25</option>
                      <option value="30">30</option>
                      <option value="35">35</option>
                      <option value="40">40</option>
                      <option value="45">45</option>
                      <option value="50">50</option>
                      <option value="55">55</option> 
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="input1">
            <div class="row" style="padding-top: 15px ;">
            
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="input1">
            <mat-form-field color="accent" appearance="outline">
              <mat-label>End date</mat-label>
              <input matInput [matDatepicker]="picker2" [(ngModel)]="this.enddate1">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="input1">
            <div class="row" style="padding-top: 15px" >
              <div class="col-sm-2"><b>Time:</b></div>
              <div class="col-sm-10">
               
                <div class="row">
                  <div class="col-sm-5">
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="this.endT1">
                      <option selected>hours</option>
                      <option value="01">01</option>
                      <option value="02">02</option>
                      <option value="03">03</option>
                      <option value="04">04</option>
                      <option value="05">05</option>
                      <option value="06">06</option>
                      <option value="07">07</option>
                      <option value="08">08</option>
                      <option value="09">09</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                      <option value="24">24</option>
                    </select>
                  </div>
                  <div class="col-sm-2"><p>:</p></div>
                  <div class="col-sm-5">
                    <select class="form-select" aria-label="Default select example" [(ngModel)]="this.endT2">
                      <option selected>min</option>
                      <option value="00">00</option>
                      <option value="05">05</option>
                      <option value="10">10</option>
                      <option value="15">15</option>
                      <option value="20">20</option>
                      <option value="25">25</option>
                      <option value="30">30</option>
                      <option value="35">35</option>
                      <option value="40">40</option>
                      <option value="45">45</option>
                      <option value="50">50</option>
                      <option value="55">55</option> 
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="input1">
            <div class="row">   
              <form class="example-form">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Operation by</mat-label>
                  <input type="text" placeholder="Pick one" aria-label="Name" matInput [formControl]="myControl"
                    [matAutocomplete]="auto" [(ngModel)]="this.operator">
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </form>             
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3 center">
          <button mat-raised-button color="primary" class="center" (click)="Update()">Issue step</button>
        </div>
        <div class="col-sm-3 center">
          <button mat-raised-button mat-dialog-close color="primary" class="center" >Back</button>
        </div>
        <div class="col-sm-3"></div>
      </div>
