<div class="row">
    <div class="col-sm-7">
        <div>
            <label for="comment">
                <h6>Title:</h6></label>
            <input type="text" class="form-control" placeholder="Default form control" name="text2">
        </div>
        <div>
              <label for="comment">
                  <h6>Background: </h6></label>
              <textarea class="form-control" rows="3" id="comment" name="text"></textarea>
        </div>
        <div>
            <label for="comment">
                <h6>Purpose:</h6></label>
            <textarea class="form-control" rows="3" id="comment" name="text"></textarea>
        </div>

        <form action="/action_page.php">
            <label for="comment" class="font-weight-bold">
                 <h6> Analysis type : </h6></label>
            <div class="form-check-inline">
              <label class="form-check-label" for="radio1">
                <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>Customer complaint
              </label>
                
            </div>
            <div class="form-check-inline">
              <label class="form-check-label" for="radio2">
                <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">Defective
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" disabled> NC/Reject
              </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" disabled> Product evaluation
                </label>
              </div>
              <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" disabled> NC/Reject
                </label>
              </div>

            </form>
    </div>


    <div class="col-sm-5">.col-sm-8</div>
  </div>
