.Toolbar {
    background-color: #F5F5F5;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.button3 {
    padding: 10px 0;
    background-color: #8fcaca;
}

.WText {
    color: #ffffff;
}

.card1 {
    background-color: #8fcaca;
    height: 1000px;
}

.container {
    display: flex;
    flex-direction: row;
}

.navigator {
    margin-right: 10px;
}

.content {
    flex-grow: 1;
}

.button2 {
    background-color: #3c78d8;
    color: white;
    border: 0;
    padding: .5rem 1rem;
    width: 80px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 5px;
}

div {
    font-size: 1em;
}

.button {
    position: relative;
    background-color: #8fcaca;
    border: none;
    color: #FFFFFF;
    padding: 10px 0;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #82e0e0;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}