<div *ngIf="this.loading; else elseBlock" class="spinner-border text-primary" role="status">
    <span class="sr-only"></span>
</div>
<ng-template #elseBlock>

    <div class="border-bottom Toolbar">
        <div class="row">
            <div class="col-xl-1"></div>
            <div class="col-xl-7 center" style="padding :15px 0 ;">
                <button mat-button>Home</button>
                <button mat-button (click)="GoAnaNoCom()">Analysis request form</button>
                <button mat-button>Equipment Calendar</button>
                <button mat-button>Job tracking</button>
                <button mat-button>Search previous report</button>
            </div>

            <div class="col-xl-4 center " *ngIf="isValid;else other_content">
                <div class="row">
                    <div class="col-xl-8">
                        {{this.nameonly}} ({{this.Codelocal}}) {{this.departmentlocal}}
                    </div>
                    <div class="col-xl-4">
                        <button mat-raised-button color="primary" (click)="Logout()">Log out</button>
                    </div>
                </div>
            </div>

            <ng-template #other_content>
                <div class="col-xl-4 center ">
                    <button mat-raised-button color="primary" (click)="Gologin()">Login</button>
                    <button mat-raised-button color="primary" style="margin-left:10px;" (click)="GoSignup()">Sign up</button>
                </div>
            </ng-template>


        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <mat-card class="card1">
                <mat-card-content>
                    <div class="row" style="padding-top : 30px;">
                        <h1 class="center WText ">Equipment</h1>
                        <button class="button button3 border border-light WText" (click)="onChange('Resin molding')">Resin molding</button>
                        <button class="button button3 border border-light WText" (click)="onChange('Polishing')">Polishing machine</button>
                        <button class="button button3 border border-white WText" (click)="onChange('Cutting')">Cutting machine</button>
                        <button class="button button3 border border-white WText" (click)="onChange('VHX')">VHX</button>
                        <button class="button button3 border border-light WText" (click)="onChange('Metallurgical Microscope')">Metallurgical Microscope</button>
                        <button class="button button3 border border-light WText" (click)="onChange('FTIR')">FTIR</button>
                        <button class="button button3 border border-white WText" (click)="onChange('TG-DTA')">TG-DTA</button>
                        <button class="button button3 border border-white WText" (click)="onChange('DSC')">DSC</button>
                        <button class="button button3 border border-light WText" (click)="onChange('EDXRF')">EDXRF</button>
                        <button class="button button3 border border-light WText" (click)="onChange('GCMS')">GCMS</button>
                        <button class="button button3 border border-light WText" (click)="onChange('ICP-OES')">ICP-OES</button>
                        <button class="button button3 border border-white WText" (click)="onChange('SEM')">SEM</button>
                        <button class="button button3 border border-white WText" (click)="onChange('X-ray')">X-ray</button>
                        <button class="button button3 border border-light WText" (click)="onChange('Titration')">Titration</button>
                    </div>
                </mat-card-content>
            </mat-card>

        </div>
        <div class="col-sm-10" style="padding-top: 40px; ">
            <div class="center mat-display-1">Booking Equipment({{this.namequip}})</div>
            <div class="container" style="padding-top: 10px; padding-bottom:20px; padding-right: 120px;">
                <div class="navigator">
                    <daypilot-navigator [config]="configNavigator" [events]="events" [(date)]="date" (dateChange)="changeDate($event)" #navigator></daypilot-navigator>
                </div>
                <div class="content">
                    <div class="buttons">
                        <button class="button2" (click)="viewDay()" [class]="this.configNavigator.selectMode == 'Day' ? 'selected' : ''">Day</button>
                        <button class="button2" (click)="viewWeek()" [class]="this.configNavigator.selectMode == 'Week' ? 'selected' : ''">Week</button>
                        <button class="button2" (click)="viewMonth()" [class]="this.configNavigator.selectMode == 'Month' ? 'selected' : ''">Month</button>
                    </div>
                    <br>
                    <daypilot-calendar [config]="configDay" [events]="events" #day></daypilot-calendar>
                    <daypilot-calendar [config]="configWeek" [events]="events" #week></daypilot-calendar>
                    <daypilot-month [config]="configMonth" [events]="events" #month></daypilot-month>
                </div>
            </div>
            <br>
            <button mat-raised-button color="primary" style="float: right; margin-right: 120px" (click)="onOpenAadd_BOOKING()">+ Add Booking</button>
            <br>
            <br>
            <br>
            <div *ngFor="let item of DateWeek let i = index">
                <p>{{item.Date}}</p>
                <div style="padding-top: 10px; padding-bottom:20px; padding-right: 120px;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">no.</th>
                                <th scope="col">Analyzer</th>
                                <!-- <th scope="col">Department</th> -->
                                <th scope="col">Request No.</th>
                                <th scope="col">Title</th>
                                <th scope="col">Number Sample</th>
                                <th scope="col">Start date time</th>
                                <th scope="col">End date time</th>
                                <th scope="col">Operation by</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item3 of TableDateWeek[i] let x = index">
                                <th scope="row">{{x+1}}</th>
                                <td>{{item3.PIC}}</td>
                                <!-- <td>{{item3.Department}}</td> -->
                                <td>{{item3.Request_No}}</td>
                                <td>{{item3.Title}}</td>
                                <td>{{item3.Number_Sample}}</td>
                                <td>{{item3.Start}}</td>
                                <td>{{item3.End}}</td>
                                <td>{{item3.Operation}}</td>

                                <a *ngIf="item3.PIC != this.nameonly;else other_content">
                                </a>
                                <ng-template #other_content>
                                    <td><button mat-mini-fab color="primary" (click)="this.onOpenDialogClick(item3.ID_BOOKING)"><mat-icon>edit</mat-icon></button></td>
                                    <td><button mat-mini-fab color="primary" (click)="this.delete(item3.ID_BOOKING)"><mat-icon>delete_forever</mat-icon></button></td>
                                </ng-template>

                            </tr>
                            <tr *ngFor="let item3 of TableDateWeek[i] let x = index">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</ng-template>