<div class="container-fluid">
    <div class="border-bottom">
        <div class="row">
            <div class="col-xl-1"></div>
            <div class="col-xl-8 center" style="margin-bottom:15px; margin-top:15px;">
                <button mat-button>Home</button>
                <button mat-button>Analysis request form</button>
                <button mat-button>Equipment Calendar</button>
                <button mat-button>Job tracking</button>
                <button mat-button>Search previous report</button>
            </div>
            <div class="col-xl-2 center ">
                <button mat-raised-button color="primary">Login</button>
                <button mat-raised-button color="primary" style="margin-left:10px;">Sign up</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-2">
                    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 200px;">
                        <a href="/"
                            class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
                            <svg class="bi me-2" width="30" height="24">
                                <use xlink:href="#bootstrap" />
                            </svg>
                            <span class="fs-5 fw-semibold">Status</span>
                        </a>
                        <div class="list-group list-group-flush border-bottom scrollarea">
                            <a href="#" class="list-group-item list-group-item-action active py-3 lh-tight"
                                aria-current="true">
                                <div class="d-flex w-100 align-items-center justify-content-between">
                                    <strong class="mb-1">Pending Request</strong>
                                </div>
                            </a>
    
                            <a href="#" class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
                                <div class="d-flex w-100 align-items-center justify-content-between">
                                    <strong class="mb-1">Not Complete Request</strong>
    
                                </div>
    
                            </a>
                            <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                                <div class="d-flex w-100 align-items-center justify-content-between">
                                    <strong class="mb-1">Complete Request</strong>
    
                                </div>
    
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-10"style="padding: 40px; ">
                    <h1 class="center" >Analysis request</h1>
                    <button mat-raised-button color="primary" style=" margin-bottom: 20px;" (click)= 'addform()'>+ Add analysis request form</button>
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Issued Month</th>
                            <th>Section</th>
                            <th>Subject</th>
                            <th>Issued By</th>
                            <th>Issued Date</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>MT300</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>MT400</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>MT500</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>MT300</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>MT400</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>MT500</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
              </div>
            
        </div>
        <div class="col-sm-1"></div>

    </div>
</div>