<div *ngIf="this.loading; else elseBlock" class="spinner-border text-primary" role="status">
  <span class="sr-only"></span>
</div>
<ng-template #elseBlock>
  <div class="border-bottom Toolbar">
    <div class="row">
      <div class="col-xl-1"></div>
      <div class="col-xl-7 center" style="padding :15px 0 ;">
        <button mat-button>Home</button>
        <button mat-button (click)="GoAnaNoCom()">Analysis request form</button>
        <button mat-button>Equipment Calendar</button>
        <button mat-button>Job tracking</button>
        <button mat-button>Search previous report</button>
      </div>

      <div class="col-xl-4 center " *ngIf="isValid;else other_content">
        <div class="row">
          <div class="col-xl-8">
            {{this.nameonly}}
            ({{this.Codelocal}})
            {{this.departmentlocal}}
          </div>
          <div class="col-xl-4">
            <button mat-raised-button color="primary" (click)="Logout()">Log out</button>
          </div>
        </div>
      </div>

      <ng-template #other_content>
        <div class="col-xl-4 center ">
          <button mat-raised-button color="primary" (click)="Gologin()">Login</button>
          <button mat-raised-button color="primary" style="margin-left:10px;" (click)="GoSignup()">Sign up</button>
        </div>
      </ng-template>


    </div>
  </div>

  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
      <div class="center">
        <h1 style=" padding-top:50px; padding-bottom: 30px;">Job tracking <b>No.{{this.DataRes[0].REQ_NUM}}</b></h1>
      </div>
      <div class="center">
        <div class="row">
          <!-- FACTORY APPROVED -->
          <div class="col-xl" >
            <div class="row">
              <div class="col-sm-7 '">
                <div class="card card_track2">
                  <div class="card-body">
                    <img src="../assets/Tracking_web/Image/factory.png" (click)="FacDetail()">
                  </div>
                </div>
                <br>
                <div style=" margin-left: 10px ">
                  <p class="center"><b>FACTORY APPROVED</b></p>
                  <p></p>
                </div>
              </div>
              <div class="col-sm-5 center'" style="padding-top:17px;">
                <img src="../assets/Tracking_web/Image/substract_color.png">
              </div>
            </div>
            </div>
        <!-- Step -->
          <div class="col-md " *ngFor="let item of sample1 let i = index">
            <div class="col-xl" *ngIf="isValid1[i];else stepanalysis">
              <div class="row">
                <div class="col-sm-7 '">
                  <div class="card card_track">
                    <div class="card-body">
                      <img src="../assets/Tracking_web/Image/chemist.png">
                    </div>
                  </div>
                  <br>
                  <div>
                    <p class="center"><b>Step{{i+1}}</b></p>
                    <p class="center"><b>{{item.equip}}</b></p>
                    <p></p>
                  </div>
                </div>
                <div class="col-sm-5 center'" style="padding-top:17px;">
                  <img src="../assets/Tracking_web/Image/substract_black.png">
                </div>
              </div>
            </div>
            <ng-template #stepanalysis>
                <div class="row">
                  <div class="col-sm-7 '">
                    <div class="card card_track2">
                      <div class="card-body">
                        <img src="../assets/Tracking_web/Image/chemist.png">
                      </div>
                    </div>
                    <br>
                    <div>
                      <p class="center"><b>Step{{i+1}}</b></p>
                      <p class="center"><b>{{item.equip}}</b></p>
                      <p></p>
                    </div>
                  </div>
                  <div class="col-sm-5 center'" style="padding-top:17px;">
                    <img src="../assets/Tracking_web/Image/substract_color.png">
                  </div>
                </div>
            </ng-template>
          </div>

          <!-- Issue report -->
          <div class="col-xl  " *ngIf="isValidstatusre;else other_content1">
            <div class="row">
              <div class="col-sm-7 '">
                <div class="card card_track">
                  <div class="card-body">
                    <img src="../assets/Tracking_web/Image/contract.png">
                  </div>
                </div>
                <br>
                <div>
                  <p><b>ISSUE REPORT</b></p>
                  <p></p>
                </div>
              </div>
              <div class="col-sm-5 center'" style="padding-top:17px;">
                <img src="../assets/Tracking_web/Image/substract_black.png">
              </div>
            </div>
          </div>
          <ng-template #other_content1>
            <div class="col-xl ">
              <div class="row">
                <div class="col-sm-7 '">
                  <div class="card card_track2">
                    <div class="card-body">
                      <img src="../assets/Tracking_web/Image/contract.png">
                    </div>
                  </div>
                  <br>
                  <div>
                    <p class="center"><b>ISSUE REPORT</b></p>
                    <p></p>
                  </div>
                </div>
                <div class="col-sm-5 center'" style="padding-top:17px;">
                  <img src="../assets/Tracking_web/Image/substract_color.png">
                </div>
              </div>
            </div>
          </ng-template>

          <!-- Approve report -->
          <div class="col-xl  " *ngIf="this.DataRes[0].STATUS_JOB == 9 || this.DataRes[0].STATUS_JOB == 10 ;else other_con1">
            <div class="card card_track2">
              <div class="card-body">
                <img src="../assets/Tracking_web/Image/ready.png">
              </div>
            </div>
            <br>
            <div>
              <p><b>APPROVED REPORT</b></p>
              <p></p>
            </div>
            
          </div>
          <ng-template #other_con1>
            <div class="col-xl  " *ngIf="this.DataRes[0].REVISE_STATUS == 1 ;else other_con2">
              <div class="card card_track">
                <div class="card-body">
                  <img src="../assets/Tracking_web/Image/ready.png">
                </div>
              </div>
              <br>
              <div>
                <p><b>Revising REPORT</b></p>
                <p></p>
              </div>
            </div>
          </ng-template>
          <ng-template #other_con2>
          
            <div class="col-xl ">
              <div class="card card_track">
                <div class="card-body">
                  <img src="../assets/Tracking_web/Image/ready.png">
                </div>
              </div>
              <br>
              <div>
                <p><b>APPROVED REPORT</b></p>
                <p></p>
              </div>
            </div>
          </ng-template>

        </div>
      </div>


      <mat-card class="card1" style="margin-top: 10px;">
        <mat-card-title-group>
          <mat-card-title>Analytical information</mat-card-title>
        </mat-card-title-group>
        <mat-card-content style="padding:10px;">
          <div class="row">
            <div class="col-sm-7">
              <div class="row">
                <div class="col-sm-1"><b>Title:</b></div>
                <div class="col-sm-11">{{this.DataRes[0].TITLE}}</div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-3"><b>Analysis type:</b></div>
                <div class="col-sm-9">{{this.DataRes[0].ANA_TYPE}}{{this.DataRes[0].ANA_TYPE2}}</div>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="row">
                <div class="col-sm-2"><b>Requester:</b></div>
                <div class="col-sm-10">{{this.DataRes[0].REVI_PAND_ISSUER}}</div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-3"><b>Department:</b></div>
                <div class="col-sm-9">{{this.DataRes[0].DEP_MENT}}</div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <div *ngIf="this.departmentlocal  == 'MTQ00'; else facsee">
      
        <div class="container Tablesize">
          <table class="table tablestyle border">
            <thead>
              <tr>
                <th class="Titlereview" width="100px">Step</th>
                <th class="Titlereview" width="200px">Technique</th>
                <th class="Titlereview" width="100px">Quantity</th>
                <th class="Titlereview" width="200px">Plan time</th>
                <th class="Titlereview" width="300px">Status</th>
  
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="Titlereview">0</th>
                <td class="Titlereview">Pending approved</td>
                <td class="Titlereview">{{this.DataRes[0].NUM_SAMPLE}}</td>
                <td class="Titlereview">{{this.DataRes[0].ESTI_COST_TIME}}</td>
                <td class="Titlereview">Approved</td>
              </tr>
  
            </tbody>
          </table>
        </div>     

      <div class="container Tablesize">
        <table class="table tablestyle table-bordered">
          <thead>
            <tr>
              <th class="Titlereview" width="50px">Step</th>
              <th class="Titlereview" width="100px">Technique</th>
              <th class="Titlereview" width="50px">Quantity</th>
              <th class="Titlereview" width="200px">Plan time</th>
              <th class="Titlereview" width="550px">Status</th>
              <th class="Titlereview" width="100px">Add time</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of DataResreq let i = index">
              <th class="Titlereview">{{item.STEP_BOOKING}}</th>
              <td class="Titlereview">{{item.EQUIPMENT}}</td>
              <td class="Titlereview">{{item.SAMPLE_NUM}}</td>
              <td class="Titlereview">{{item.DATE_BOOKING_START}},{{item.TIME_BOOKING_START}} to
                <br>
                {{item.DATE_BOOKING_END}},{{item.TIME_BOOKING_END}}
              </td>
              <td class="Titlereview">
                <div *ngIf="isValidButton3[i]; else complete">
                <div class="row">
                  <div class="col-sm-5">
                    <div *ngIf="isValidButton2[i]; else timeshow">
                      <div class="row">
                        <div class="col-sm-6">
                          <div *ngIf="isValidButton[i]; else start_time">
                            <button mat-raised-button class="button2" style="background: #8fcaca ;"
                              (click)="starttime(item.ID_BOOKING,i)">Start</button>
                          </div>
                          <ng-template #start_time>
                            {{this.DataResreq[i].START_TIME}}
                            <button mat-raised-button class="button2" style="background: #8fcaca ;"
                              disabled>Start</button>
                          </ng-template>
                        </div>
                        <div class="col-sm-6">
                          <div *ngIf="isValidButton[i]; else end_time">
                            <button mat-raised-button class="button2" style="background: #8fcaca ;"
                              disabled>End</button>
                          </div>
                          <ng-template #end_time>
                            <button mat-raised-button class="button2" style="background: #8fcaca ;"
                              (click)="Endtime(item.ID_BOOKING,i)">End</button>
                          </ng-template>
                        </div>
                      </div>
                    </div>
                    <ng-template #timeshow>
                      {{this.DataResreq[i].START_TIME}} to {{this.DataResreq[i].END_TIME}}
                    </ng-template>
                  </div>
                  

                  <div class="col-sm-4">
                    <div class="row">
                      <div class="col-sm-6">
                        <p><b>Break time (min)</b></p>
                      </div>
                      <div class="col-sm-6">
                        <input class="form-control" type="text" placeholder="Break time" matTooltip="Break time"
                        [(ngModel)]="this.breaktime[i]">
                      </div>
                    </div>

                  </div>
                  <div class="col-sm-3">
                    <button mat-raised-button class="button2" style="background: #f28482 ;"
                      (click)="finish(item.ID_BOOKING,i)">Finish</button>
                  </div>
                  </div>
                </div>
                <ng-template #complete>
                  {{this.DataResreq[i].START_TIME}} to {{this.DataResreq[i].END_TIME}}
                  <div><b>Operation time :</b></div>
                  <div>{{this.DataResreq[i].OPERATION_TIME}}</div>
                </ng-template>
              </td>
              <td class="Titlereview">
                <button mat-mini-fab color="primary" class="button3" (click)="edittime(this.DataResreq[i].ID_BOOKING)">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>

      <div class="container Tablesize">
        <table class="table tablestyle border">
          <thead>
            <tr>
              <th class="Titlereview" width="50px">Step</th>
              <th class="Titlereview" width="200px">Technique</th>
              <th class="Titlereview" width="100px">Quantity</th>
              <th class="Titlereview" width="500px">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="Titlereview"></th>
              <td class="Titlereview">Issue report</td>
              <td class="Titlereview"></td>
              <td class="Titlereview">
                <div *ngIf="isValidshowIssueRe; else show1">
                  <button mat-mini-fab color="primary" class="button3" style="background: #8fcaca ;"(click)="addreporttime()">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
                <ng-template #show1>
                  <div class="row">
                    <div div class="col-sm-2">
                      <div *ngIf="isValidIssueRe; else start_time2">
                      <button mat-raised-button class="button2" style="background: #8fcaca ;"
                        (click)="starttimereport()">Start</button>
                      </div>
              
                    <ng-template #start_time2>
                      {{this.DataIssue[0].START_TIME}}
                      <button mat-raised-button class="button2" style="background: #8fcaca ;"
                        disabled>Start</button>
                    </ng-template>
                  </div>
           
                  <div class="col-sm-2">
                    <div *ngIf="isValidIssueRe; else end_time2">
                      <button mat-raised-button class="button2" style="background: #8fcaca ;"
                        disabled>End</button>
                    </div>  
                    <ng-template #end_time2>
                      {{this.DataIssue[0].END_TIME}}
                      <button mat-raised-button class="button2" style="background: #8fcaca ;"
                      (click)="endtimereport()">End</button>
                    </ng-template>
                  </div>
                  <div class="col-sm-4">
                    <div class="row">
                      <div class="col-sm-6">
                        <p><b>Break time (min)</b></p>
                      </div>
                      <div class="col-sm-6">
                        <input class="form-control" type="text" placeholder="Break time" matTooltip="Break time"
                        [(ngModel)]="this.breaktimereport">
                      </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <button mat-mini-fab color="primary" class="button3" style="background: #8fcaca ;"(click)="calreporttime()">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
                <div class="col-sm-2">
                  <button mat-raised-button class="button2" style="background: #f28482 ;"
                  (click)="finishreport()">Finish</button>
                </div>
                </div>
                  </ng-template>
                  <div>
                    <table>
                      <tr *ngFor="let item of this.DataIssue let i = index">
                        <div *ngIf="item.OPERATION_TIME != null">
                          <td width="200px">
                            {{item.START_TIME}}
                          </td>
                          <td width="200px">
                            to {{item.END_TIME}}
                          </td>
                          <td width="200px">
                            <b>Operation time :</b>{{item.OPERATION_TIME}}
                          </td>
                        </div>
                        </tr>
                      </table>
                  </div>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
    <ng-template  #facsee>
      <div class="container Tablesize">
        <table class="table tablestyle border">
          <thead>
            <tr>
              <th class="Titlereview" width="100px">Step</th>
              <th class="Titlereview" width="200px">Technique</th>
              <th class="Titlereview" width="100px">Quantity</th>
              <th class="Titlereview" width="200px">Plan time</th>
              <th class="Titlereview" width="300px">Status</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="Titlereview">0</th>
              <td class="Titlereview">Pending approved</td>
              <td class="Titlereview">{{this.DataRes[0].NUM_SAMPLE}}</td>
              <td class="Titlereview">{{this.DataRes[0].ESTI_COST_TIME}}</td>
              <td class="Titlereview">Approved</td>
            </tr>

          </tbody>
        </table>
      </div> 

      <div class="container Tablesize">
        <table class="table tablestyle table-bordered">
          <thead>
            <tr>
              <th class="Titlereview" width="50px">Step</th>
              <th class="Titlereview" width="100px">Technique</th>
              <th class="Titlereview" width="50px">Quantity</th>
              <th class="Titlereview" width="200px">Plan time</th>
              <th class="Titlereview" width="550px">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of DataResreq let i = index">
              <th class="Titlereview">{{item.STEP_BOOKING}}</th>
              <td class="Titlereview">{{item.EQUIPMENT}}</td>
              <td class="Titlereview">{{item.SAMPLE_NUM}}</td>
              <td class="Titlereview">{{item.DATE_BOOKING_START}},{{item.TIME_BOOKING_START}} to
                <br>
                {{item.DATE_BOOKING_END}},{{item.TIME_BOOKING_END}}
              </td>
              <td>
                <div *ngIf="item.OPERATION_TIME != 0 ; else notfinish">
                  <div class="center">Finished</div>
                </div>
                <ng-template #notfinish>
                  <div *ngIf="item.START_TIME != null ; else notstart">
                    <div class="center">Analysing</div>
                  </div>
                  </ng-template>
                <ng-template #notstart>
                  <div class="center">Not start</div>
                </ng-template>
              </td>
              </tr>
              </tbody>
              </table>
              </div>
              <div class="container Tablesize">
                <table class="table tablestyle border">
                  <thead>
                    <tr>
                      <th class="Titlereview" width="50px">Step</th>
                      <th class="Titlereview" width="200px">Technique</th>
                      <th class="Titlereview" width="100px">Quantity</th>
                      <th class="Titlereview" width="500px">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th class="Titlereview"></th>
                      <td class="Titlereview">Issue report</td>
                      <td class="Titlereview"></td>
                      <td class="Titlereview">
                        
                        <div *ngIf="validissue">
                        <div *ngIf="this.DataIssue[0].OPERATION_TIME != null ; else reporting">
                          <div>Finished</div>   
                        </div>
                        <ng-template #reporting>
                          <div *ngIf="this.DataIssue[0].START_TIME != null ; else notfinish">
                            <div>In process</div>
                          </div>
                          </ng-template>
                          <ng-template #notfinish>
                            <div>No Finished</div>
                            {{this.DataIssue[0].OPERATION_TIME}}
                          </ng-template>
                          </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
    </ng-template>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
</ng-template>