
<div class="container">
    <h2>Hover Rows</h2>
    <p>The .table-hover class enables a hover state on table rows:</p>            
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
        </tr>
        <tr>
          <td>Mary</td>
          <td>Moe</td>
          <td>mary@example.com</td>
        </tr>
        <tr>
          <td>July</td>
          <td>Dooley</td>
          <td>july@example.com</td>
        </tr>
      </tbody>
    </table>
  </div>
<div class="card container ">
    <div class="card-header ">
        <h2>Request Information</h2>
    </div>

    <div class="card-body">
        <div class="row">
            <!-- Title Background Purpose -->
            <div class="col-sm-7">
              <div class="mb-3">
                <label for="disabledTextInput" class="form-label">Title:</label>
                <input type="text" id="disabledTextInput" class="form-control">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Background:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Purpose:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <!-- AnalysisTpye -->
                <div class="row">
                    <div class="col-sm-3 ">
                        <label for="comment" class="font-weight-bold"> Analysis type : </label>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-check-inline">
                            <label class="form-check-label" for="radio1">
                            <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1">Customer complaint
                            </label>
                        </div>
                         <div class="form-check-inline">
                             <label class="form-check-label" for="radio2">
                             <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">NC/Reject
                             </label>
                         </div>
                         <div class="form-check-inline">
                             <label class="form-check-label" for="radio3">
                             <input type="radio" class="form-check-input" id="radio3" name="optradio" value="option3">Defective
                             </label>
                         </div>
                         <div class="form-check-inline">
                             <label class="form-check-label" for="radio4">
                             <input type="radio" class="form-check-input" id="radio4" name="optradio" value="option4">Material evaluation   
                             </label>
                         </div>
                        <div class="form-check-inline">
                             <label class="form-check-label" for="radio5">
                             <input type="radio" class="form-check-input" id="radio5" name="optradio" value="option5">Process evaluation
                             </label>
                        </div>
                         <div class="form-check-inline">
                             <label class="form-check-label" for="radio6">
                             <input type="radio" class="form-check-input" id="radio6" name="optradio" value="option6">Product evaluation

                             </label>
                         </div>
                         <div class="form-check-inline">
                             <label class="form-check-label" for="radio7">
                             <input type="radio" class="form-check-input" id="radio7" name="optradio" value="option7">RoHS Spacial
                             </label>
                         </div>
                         <div class="row">
                            <div class="col-sm-2">
                                <p>Other :</p>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" id="disabledTextInput" class="form-control">
                             </div>
                         </div>
                    </div>
                </div>           
            </div>
        
            <!-- IssueDate Requter -->
            <div class="col-sm-5">
                <h4>Issue Date:</h4>       
                <mat-form-field appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>                           
                <p> Requester: Pichayapak Nantasai</p>
                <div class="row">
                    <div class="col-sm-5">
                        <p>Phone number:</p>
                    </div>
                    <div class="col-sm-7">
                        <input type="text" id="disabledTextInput" class="form-control">
                     </div>
                 </div>
                 <br>
                <div class="row">
                  <div class="col-sm-5">
                      <p>Department:</p>
                  </div>
                  <div class="col-sm-7">
                    <mat-form-field appearance="outline">       
                        <mat-select>
                          <mat-option value="MT300">MT300</mat-option>
                          <mat-option value="MT400">MT400</mat-option>
                          <mat-option value="MT500">MT500</mat-option>
                          <mat-option value="MT600">MT600</mat-option>
                          <mat-option value="MT700">MT700</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
               <!-- Product -->
                <div class="row">
                    <div class="col-sm-3">
                        <p>Product:</p>
                    </div>
                    <div class="col-sm-3">
                      <mat-form-field appearance="fill">       
                          <mat-select>
                            <mat-option value="MLCC">MLCC</mat-option>
                            <mat-option value="BLM">BLM</mat-option>
                            <mat-option value="MAWTR">MAWTR</mat-option>
                            <mat-option value="MAOPN">MAOPN</mat-option>
                            <mat-option value="MKVLED">MKVLED</mat-option>
                            <mat-option value="SMD">SMD</mat-option>
                            <mat-option value="PAC">PAC</mat-option>
                            <mat-option value="METAL PLATE">METAL PLATE</mat-option>
                            <mat-option value="PLASTIC INJECTION">PLASTIC INJECTION</mat-option>
                            <mat-option value="MACHINE PART">MACHINE PART</mat-option>
                            <mat-option value="TERMINAL">TERMINAL</mat-option>
                            <mat-option value="PRECISION PARTS">PRECISION PARTS</mat-option>
                            <mat-option value="CUTTING BLADE">CUTTING BLADE</mat-option>
                            <mat-option value="LLHP">LLHP</mat-option>
                            <mat-option value="BUZZER">BUZZER</mat-option> 
                            <mat-option value="MICRO BROWER">MICRO BROWER</mat-option> 
                            <mat-option value="AIR PUMP">AIR PUMP</mat-option> 
                            <mat-option value="YM00">YM00</mat-option>  
                            <mat-option value="MGSSR">MGSSR</mat-option> 
                            <mat-option value="REDSSR">REDSSR</mat-option> 
                            <mat-option value="CAPGL">CAPGL</mat-option> 
                            <mat-option value="AXIAL">AXIAL</mat-option> 
                            <mat-option value="LP-DCM">LP-DCM</mat-option> 
                            <mat-option value="CILANT">CILANT</mat-option>
                            <mat-option value="TKANTB">TKANTB</mat-option>  
                            <mat-option value="TKANTC">TKANTC</mat-option> 
                            <mat-option value="MONOBK">MONOBK</mat-option> 
                            <mat-option value="PSiP">PSiP</mat-option> 
                            <mat-option value="PS-MOD">PS-MOD</mat-option>
                            <mat-option value="MME671">MME671</mat-option>
                            <mat-option value="Other">Other</mat-option> 
                          </mat-select>
                        </mat-form-field>
                      </div>
                </div>
                <mat-card>
                    <mat-card-title>Attached file</mat-card-title>
                    <mat-card-subtitle>(Specific experiment design/photo/concerned information)
                    </mat-card-subtitle>
                    <mat-card-actions>
                        <button mat-button>CLICK</button>                          
                    </mat-card-actions>
                </mat-card>
                      
              </div>
            </div>        
    </div>
</div>  
<br>
<div class="card col-sm-10 container ">
    <div class="card-header ">
        <h2>Request Analysis Techniques</h2>
    </div>
    <div class="card-body">
        <!-- Structure select -->
        <div class="row">
            <div class="col-sm-2 ">
                <label for="comment" class="font-weight-bold"> Structure analysis : </label>
            </div>
            <div class="col-sm-10">
                <div class="form-check-inline">
                    <label class="form-check-label" for="radio1">
                    <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1">X-ray 2D
                    </label>
                </div>
                 <div class="form-check-inline">
                     <label class="form-check-label" for="radio2">
                     <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">X-ray 3D
                     </label>
                 </div>
                 <div class="form-check-inline">
                     <label class="form-check-label" for="radio3">
                     <input type="radio" class="form-check-input" id="radio3" name="optradio" value="option3">SEM-Microscope
                     </label>
                 </div>
                 <div class="form-check-inline">
                     <label class="form-check-label" for="radio4">
                     <input type="radio" class="form-check-input" id="radio4" name="optradio" value="option4">Cross section   
                     </label>
                 </div> 
                 <div class="form-check-inline">
                    <label class="form-check-label" for="radio4">
                    <input type="radio" class="form-check-input" id="radio4" name="optradio" value="option4">Ion-milling   
                    </label>
                </div>   
                <div class="form-check-inline">
                    <label class="form-check-label" for="radio4">
                    <input type="radio" class="form-check-input" id="radio4" name="optradio" value="option4">VHX  
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label" for="radio4">
                    <input type="radio" class="form-check-input" id="radio4" name="optradio" value="option4">Metallurgical Microscope  
                    </label>
                </div>      
            </div>
        </div>
        <!-- Composition select -->
        <div class="row">
            <div class="col-sm-2 ">
                <label for="comment" class="font-weight-bold"> Composition analysis : </label>
            </div>
            <div class="col-sm-10">
                <div class="form-check-inline">
                    <label class="form-check-label" for="radio1">
                    <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1">SEM-EDX
                    </label>
                </div>
                 <div class="form-check-inline">
                     <label class="form-check-label" for="radio2">
                     <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">SEM-Mapping
                     </label>
                 </div>
                 <div class="form-check-inline">
                     <label class="form-check-label" for="radio3">
                     <input type="radio" class="form-check-input" id="radio3" name="optradio" value="option3">EDXRF
                     </label>
                 </div>
                 <div class="form-check-inline">
                    <label class="form-check-label" for="radio3">
                    <input type="radio" class="form-check-input" id="radio3" name="optradio" value="option3">ICP
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label" for="radio3">
                    <input type="radio" class="form-check-input" id="radio3" name="optradio" value="option3">CS Analyzer
                    </label>
                </div>         
            </div>
        </div>  
        <!-- Organic select -->
        <div class="row">
            <div class="col-sm-2 ">
                <label for="comment" class="font-weight-bold"> Organic analysis : </label>
            </div>
            <div class="col-sm-10">
                <div class="form-check-inline">
                    <label class="form-check-label" for="radio1">
                    <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1">FTIR
                    </label>
                </div>
                 <div class="form-check-inline">
                     <label class="form-check-label" for="radio2">
                     <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">GCMS
                     </label>
                 </div>      
            </div>
        </div> 
        <!-- Thermal select -->
        <div class="row">
            <div class="col-sm-2 ">
                <label for="comment" class="font-weight-bold"> Thermal analysis : </label>
            </div>
            <div class="col-sm-10">
                <div class="form-check-inline">
                    <label class="form-check-label" for="radio1">
                    <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1">DSC
                    </label>
                </div>
                 <div class="form-check-inline">
                     <label class="form-check-label" for="radio2">
                     <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">TG-DTA
                     </label>
                 </div>      
            </div>
        </div> 
        <!-- Other select -->
        <div class="row">
            <div class="col-sm-2 ">
                <label for="comment" class="font-weight-bold"> Other analysis : </label>
            </div>
            <div class="col-sm-10">
                <div class="form-check-inline">
                    <label class="form-check-label" for="radio1">
                    <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1">Solder wettability
                    </label>
                </div>
                 <div class="form-check-inline">
                     <label class="form-check-label" for="radio2">
                     <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">Dust monitering
                     </label>
                 </div>
                 <div class="form-check-inline">
                    <label class="form-check-label" for="radio2">
                    <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">Micro-probe
                    </label>
                </div>
                <div class="row">
                    <div class="col-sm-1">
                        <p>Other :</p>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" id="disabledTextInput" class="form-control">
                     </div>
                 </div>    
            </div>
        </div>
    </div>
</div>
<br>
<!-- Sample information-->
<div class="card col-sm-10 container ">
    <div class="card-header ">
        <h2>Sample Information</h2>
    </div>
    <div class="card-body">
        <div class="row">

            <div class="col-sm-4">
                 <div class="row">
                    <div class="col-sm-6">
                        <p>Number of sample:</p>
                    </div>
                    <div class="col-sm-5">
                        <input type="text" id="disabledTextInput" class="form-control">
                    </div>
                 </div>
            </div>

            <div class="col-sm-4">
              <div class="row">
                    <div class="col-sm-4">
                         <p>Send Sample Date:</p>
                    </div>
                    <div class="col-sm-1">
                        <mat-form-field appearance="fill">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                          
                    </div>
               </div>
            </div>

            <div class="col-sm-4">
                 <div class="row">
                     <div class="col-sm-4">
                         <p>Expected Finish:</p>
                     </div>
                     <div class="col-sm-1">
                         <mat-form-field appearance="fill">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field> 
                     </div>
                 </div>
             </div>
        </div>

        <div class="row">
           <div class="col-sm-4">
         </div>
        <div class="col-sm-4">
                <div>
                     <p>Piority: </p>
                </div>    
        </div>
        <div class="col-sm-4">
            <div class="row">
                 <div class="col-sm-3">
                     <p>Other :</p>
                 </div>
                 <div class="col-sm-8">
                    <input type="text" id="disabledTextInput" class="form-control">
                 </div>
            </div>  
         </div>
        </div>
<br>
        <div class="row">
            <div class="col-sm-3">
                 <div class="row">
                      <div class="col-sm-4">
                          <div class="row">
                              <p>Lot no.:</p>
                                    <div class="example-button-container">
                                    <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                                    <mat-icon>plus_one</mat-icon>
                                    </button>
                                    </div>
                            </div>
                         </div>
                         <div class="col-sm-8">
                                <input type="text" id="disabledTextInput" class="form-control">
                         </div>
                </div>
             </div>
            <div class="col-sm-6">
                <div class="row">
                     <div class="col-sm-4">
                         <div class="row">
                             <p>Sample name:</p>
                                    <div class="example-button-container">
                                    <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                                    <mat-icon>plus_one</mat-icon>
                                    </button>
                                    </div>
                        </div>
                    </div>
                     <div class="col-sm-8">
                        <input type="text" id="disabledTextInput" class="form-control">
                     </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-4">
                        <p>Remarks:</p>
                    </div>
                     <div class="col-sm-7">
                          <input type="text" id="disabledTextInput" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- comment -->
<div class="card col-sm-10 container ">
    <div class="card-header ">
        <h2>Comment & Description (elements, structure, size, condition, etc.) </h2>
    </div>
    <div class="card-body">
        <div >
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
    </div>
</div>
<br>

